In [1]:
import pandas as pd
import numpy as np
# import matplotlib
# import matplotlib.pyplot as plt
# import seaborn as sns
# import plotly.express as px
# import plotly.graph_objects as go

# 전체 컬럼, 전체 행, 전체 숫자 출력
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('float_format', '{:f}'.format)

# # plot 출력
# %matplotlib inline

# # plot 한글출력
# import matplotlib.font_manager as fm

# for font in fm.fontManager.ttflist:
#     if font.name in ['AppleGothic', 'NanumGothic']:
#         plt.rcParams['font.family'] = font.name
#     break

# warning message 제거
import warnings
warnings.filterwarnings('ignore')

In [68]:
boxoffice = pd.read_csv('films_updated.csv')
print(boxoffice.shape)
boxoffice.sample()

(686, 38)

,영화명,영화코드,개봉일,대표국적,국적,장르,등급,영화형태,영화구분,제작사,배급사,상영횟수,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,F-rated,감독,대표감독,감독코드,감독성별,감독_대표역할,감독필모,작가,대표작가,대표작가(필명),작가코드,작가성별,작가_대표역할,작가필모,배우,주연배우,배역명,배우코드,배우성별,배우_대표역할,배우필모
119,어떤이의 꿈,20153307,2015-11-26,한국,한국,드라마,12세이상관람가,장편,독립/예술영화,"(주)예스컴,하준사",하준사,375,20,16971600.000000,2090,13942200,1692,0,조성규,조성규,10065915,남자,감독,재혼의 기술|발광하는 현대사|늦여름|딥|각자의 미식|게스트하우스|실종2|어떻게 헤어...,조성규,조성규,조성규,10065915,남자,감독,재혼의 기술|발광하는 현대사|늦여름|딥|각자의 미식|게스트하우스|실종2|어떻게 헤어...,"김동완,최필립,후지이 미나,조연희,김도연,김동완,김용",김동완,K,10003957,남자,배우,소리꾼|글로리데이|어떤이의 꿈|신화 라이브 3D 더 레전드 컨티뉴스|연가시|돌려차기...

In [72]:
k_movie_list = list(boxoffice['영화명'])

len(k_movie_list)

686

In [136]:
# df.iloc[:, 2:-1] = df.iloc[:, 2:-1].astype(str).applymap(lambda x: x if x.split(',')[1].split('(')[0].strip() in ko_movie_list else '-')
df.iloc[:, 2:-1].astype(str).applymap(lambda x: x if x.split(', ')[1].split('(')[0].strip() in ko_movie_list else '-')

# showtimes = [''.join(df.iloc[i, 2:-1]) for i in range(len(df))]
# df['상영시간'] = showtimes

IndexError: ('list index out of range', 'occurred at index 1회')

# 상영내역 파일 확인

In [125]:
df = pd.read_csv('Theaters_merged_files/CGV%20판교.csv')
print(df.shape)
df.sample()

(10743, 14)

,상영일자,상영관,1회,2회,3회,4회,5회,6회,7회,8회,9회,10회,11회,좌석수
10166,2019-08-10,IMAX,"06:35, 봉오동 전투(디지털), 8,000원","09:15, 봉오동 전투(디지털), 8,000원","11:55, 봉오동 전투(디지털), 13,000원","14:35, 봉오동 전투(디지털), 13,000원","17:15, 봉오동 전투(디지털), 13,000원","19:55, 봉오동 전투(디지털), 13,000원","22:35, 봉오동 전투(디지털), 13,000원","25:15, 봉오동 전투(디지털), 13,000원",NaN,NaN,NaN,297

In [66]:
theaters = pd.read_csv('Theaters_crawled_files/theaters_191128.csv')
theater_list = theaters['영화상영관명']

In [ ]:
timetable_preprocessing()

In [15]:
theater_list.sample()

509    롯데시네마 성남신흥
Name: 영화상영관명, dtype: object

In [184]:
theaters[theaters['영화상영관명'] == '양평시네마']

,광역단체,기초단체,영화상영관코드,영화상영관명,총 스크린수,총 좌석수,필름 상영관수,2D 상영관수,3D 상영관수,4D 상영관수,IMAX 상영관수,상설여부,특별관운영여부,가입여부,전송사업자명,개관일,영업상태,운영형태,주소,전화번호,홈페이지
513,경기도,양평군,2189,양평시네마,1,152,0,1,0,0,0,상설,nan,가입,인터파크(주),1994-10-29,영업,직영,경기도 양평군 양평읍 양근리 422-2 번지,031-771-2154,NaN

In [172]:
test = pd.read_csv('Theaters_merged_files/강릉자동차극장.csv'
# #                    , encoding='utf-8'
                  )
print(test.shape)
test.sample()

(1, 11)

,상영일자,상영관,1회,2회,3회,4회,5회,6회,7회,8회,좌석수
0,검색된 데이터가 존재하지 않습니다.,검색된 데이터가 존재하지 않습니다.,검색된 데이터가 존재하지 않습니다.,검색된 데이터가 존재하지 않습니다.,검색된 데이터가 존재하지 않습니다.,검색된 데이터가 존재하지 않습니다.,검색된 데이터가 존재하지 않습니다.,검색된 데이터가 존재하지 않습니다.,검색된 데이터가 존재하지 않습니다.,검색된 데이터가 존재하지 않습니다.,nan

In [133]:
list(test.columns)[2:-1]

['1회', '2회', '3회', '4회', '5회', '6회', '7회', '8회']

In [151]:
data = pd.DataFrame()
def timetable_preprocessing(name):
    file_name = name.replace(' ', '%20').replace('(', '%28').replace(')', '%29')
    df = pd.read_csv(f'Theaters_merged_files/{file_name}.csv')

    # 변환 시작
    timetable_spread = list() # 리스트

    df_dict = df.T.to_dict()

    for i in df_dict: # row 를 dict 로, 컬럼도 추려서

        row = df_dict[i]
        # 컬럼명에서 따오기
        for column in list(df.columns)[2:-1]:
            if pd.isna(row[f'{column}']):
                continue

            detail = row[f'{column}'].split(', ')

            # 튜플이나 딕셔너리
            data = dict()
            data['상영관'] = row['상영관']
            data['상영일자'] = row['상영일자']
            data['상영시각'] = detail[0].strip()
            data['영화명'] = detail[1].strip()
            data['좌석수'] = row['좌석수']

            if len(detail) > 2:
                data['가격'] = detail[-1]

            # 리스트에 append
            timetable_spread.append(data)

#     print(f'*** {name} 테이블 변환 완료 ***')
    
    timetable_spread = pd.DataFrame(timetable_spread)
    timetable_spread['영화관'] = name
    
    # # 한국영화만 가져오기
    timetable_spread['상영분류'] = timetable_spread['영화명']
    timetable_spread['상영분류'] = timetable_spread['상영분류'].apply(lambda x: x.split('(')[1].replace(')', '') if len(x.split('(')) > 1 else np.nan)
    timetable_spread['영화명'] = timetable_spread['영화명'].apply(lambda x: x.strip().split('(')[0])
    
    k_index = list(timetable_spread[timetable_spread.isin({'영화명': k_movie_list})]['영화명'].dropna().index)
    timetable_spread = timetable_spread.iloc[k_index]
    
    return timetable_spread # concat 을 위해 반환
#     timetable_spread.to_csv(f'Theaters_merged_files/{name}_timetable_spread.csv', index=False)

In [188]:
# 위에서 지정해준 인덱스 숫자 n과 m을 사용해 code['영화상영관명'][n:m] 으로 변경

# data = pd.DataFrame() # concat 을 위해 미리 dataframe 만듦 # 중간에 다시 시작할 때는 빼고 돌리기
# for name in theater_list[:150]: 
# for name in theater_list[4:150]: # 1 CGV 울산신천 2 CGV 오산중앙 3 롯데시네마 대전관저 다음부터
# for name in theater_list[10:150]: # 9 메가박스 성수점 다음부터 
# for name in theater_list[73:150]: # 72 포천자동차극장 다음부터
# for name in theater_list[150:300]:
# for name in theater_list[193:300]: # 192 영화의전당 다음부터
# for name in theater_list[216:300]: # 215 롯데시네마 해운대 다음부터
# for name in theater_list[236:300]: # 233 CGV 여수웅천 234 CGV 순천, 235 CGV 목포평화광장 다음부터
# for name in theater_list[291:300]: # 290 이봄씨어터 다음부터
# for name in theater_list[300:450]: # 다영님 merge 중
# for name in theater_list[450:]: 
# for name in theater_list[481:]: # 480 강릉자동차극장 다음부터
# for name in theater_list[484:]: # 483 여수자동차극장 다음부터
# for name in theater_list[495:]: # 491 용봉산시네마자동차극장, 492 무비마운틴자동차극장 493, 494, 495 다음부터 
# for name in theater_list[504:]: # 503 양평자동차극장 다음부터 
# for name in theater_list[514:]: # 513 양평시네마 다음부터 
# for name in theater_list[520:]: # 519 롯데시네마 평촌_샤롯데 다음부터 
# for name in theater_list[525:]: # 523 롯데시네마 마산터미널, 524로드시네마자동차극장 다음부터 
for name in theater_list[527:]: # 526 블루마씨네자동차극장 다음부터 
    
    try:
        print(name, '처리 시도 중...')
        timetable_spread = timetable_preprocessing(name) # concat
#         timetable_preprocessing(name) # 저장할 때 

        data = pd.concat([data, timetable_spread]) # concat 
    
        print(name, '완료')
    except ValueError as e:
        print('[Error]', e)
print('*** 완료!!! ***')

KU시네마테크 처리 시도 중...
KU시네마테크 완료
부산시네마(을숙도자동차극장) 처리 시도 중...
[Error] 'utf-8' codec can't decode byte 0xba in position 22: invalid start byte
대전아트시네마 처리 시도 중...
대전아트시네마 완료
시네마M 처리 시도 중...
시네마M 완료
예당시네마 처리 시도 중...
예당시네마 완료
롯데시네마 광복_샤롯데 처리 시도 중...
롯데시네마 광복_샤롯데 완료
CGV 인천공항 처리 시도 중...
CGV 인천공항 완료
문화극장 처리 시도 중...
문화극장 완료
파랑새자동차극장 처리 시도 중...
[Error] 'utf-8' codec can't decode byte 0xc6 in position 22: invalid continuation byte
CGV 대구한일 처리 시도 중...
CGV 대구한일 완료
CGV 대구수성 처리 시도 중...
CGV 대구수성 완료
원주벤허자동차극장 처리 시도 중...
[Error] 'utf-8' codec can't decode byte 0xbf in position 22: invalid start byte
CGV 의정부태흥 처리 시도 중...
CGV 의정부태흥 완료
CGV 동백 처리 시도 중...
CGV 동백 완료
CGV 시흥 처리 시도 중...
CGV 시흥 완료
롯데시네마 검단 처리 시도 중...
롯데시네마 검단 완료
CGV 김포풍무 처리 시도 중...
CGV 김포풍무 완료
CGV 화정 처리 시도 중...
CGV 화정 완료
메가박스 남원 처리 시도 중...
메가박스 남원 완료
메가박스 은평 처리 시도 중...
메가박스 은평 완료
롯데시네마 통영줌아울렛 처리 시도 중...
롯데시네마 통영줌아울렛 완료
CGV 파주문산 처리 시도 중...
CGV 파주문산 완료
CGV 김포운양 처리 시도 중...
CGV 김포운양 완료
지평선시네마 처리 시도 중...
지평선시네마 완료
허리우드클래식 처리 시도 중...
허리우드클래식 완료
월드시네마(경기여주) 처리 시도 중...
월드시네마(경기여주) 완료
*** 완료!!! ***

In [189]:
# data.to_csv('Theaters_merged_files/show_timetable_0-150.csv', index=False) # 완료
# data.to_csv('Theaters_merged_files/show_timetable_150-300.csv', index=False) # 300만개
# data.to_csv('Theaters_merged_files/show_timetable_300-450.csv', index=False)
data.to_csv('Theaters_merged_files/show_timetable_450-.csv', index=False)

In [ ]:
# 에러

# 파일 없음
# CGV 청주(서문), CGV 용산아이파크몰, CGV 송파, 
# CGV 영등포
# 롯데시네마 광주광산, 화성시문화재단 모두누림센터 누림아트홀

# 데이터 없음
# 1 CGV 울산신천, 2 CGV 오산중앙, 3 롯데시네마 대전관저, 9 메가박스 성수점, 72 포천자동차극장,
# 192 영화의 전당, 215 롯데시네마 해운대, 233 CGV 여수웅천, 234 CGV 순천, 235 CGV 목포평화광장, 290 이봄씨어터,

In [169]:
print(data.shape)
data.sample()
# data['영화명'].value_counts()

(3007759, 8)

             가격  상영관   상영시각        상영일자     영화명        좌석수           영화관 상영분류
37048   10,000원  03관  22:25  2016-08-26  국가대표 2 121.000000  메가박스 콜롬버스 하남  디지털

In [75]:
k_data = data.copy()

In [80]:
test = data[:10]

In [95]:
'연평해전' in k_movie_list

True

In [107]:
test

test['상영분류'] = test['영화명']
test['상영분류'] = test['상영분류'].apply(lambda x: x.split('(')[1].replace(')', '') if len(x.split('(')) > 1 else np.nan)
test['영화명'] = test['영화명'].apply(lambda x: x.strip().split('(')[0])
test

,가격,상영관,상영시각,상영일자,영화명,좌석수,영화관,상영분류
0,NaN,01관,13:20,2015-08-19,매드 맥스: 분노의 도로,206.000000,CGV 판교,nan
1,NaN,02관(SCREENX),14:50,2015-08-19,차이나타운,214.000000,CGV 판교,nan
2,NaN,03관,12:20,2015-08-19,뷰티 인사이드,203.000000,CGV 판교,nan
3,NaN,03관,15:20,2015-08-19,치외법권,203.000000,CGV 판교,nan
4,NaN,04관,13:50,2015-08-19,극비수사,180.000000,CGV 판교,nan
5,NaN,04관,16:20,2015-08-19,연평해전,180.000000,CGV 판교,nan
6,NaN,IMAX,11:50,2015-08-19,인터스텔라,297.000000,CGV 판교,nan
7,NaN,4DX,12:50,2015-08-19,샌 안드레아스,148.000000,CGV 판교,nan
8,NaN,4DX,15:50,2015-08-19,매드 맥스: 분노의 도로,148.000000,CGV 판교,nan
9,NaN,07관,14:20,2015-08-19,퇴마: 무녀굴,184.000000,CGV 판교,nan

In [122]:
k_index = list(test[test.isin({'영화명': k_movie_list})]['영화명'].dropna().index)
test.iloc[k_index]
# test[test.isin({'영화명': k_movie_list})]

    가격           상영관   상영시각        상영일자      영화명        좌석수     영화관  상영분류
1  NaN  02관(SCREENX)  14:50  2015-08-19    차이나타운 214.000000  CGV 판교   nan
2  NaN           03관  12:20  2015-08-19  뷰티 인사이드 203.000000  CGV 판교   nan
3  NaN           03관  15:20  2015-08-19     치외법권 203.000000  CGV 판교   nan
4  NaN           04관  13:50  2015-08-19     극비수사 180.000000  CGV 판교   nan
5  NaN           04관  16:20  2015-08-19     연평해전 180.000000  CGV 판교   nan
9  NaN           07관  14:20  2015-08-19  퇴마: 무녀굴 184.000000  CGV 판교   nan

In [124]:
# 한국영화만 남기기
# k_data['상영분류'] = k_data['영화명']
# k_data['상영분류'] = k_data['상영분류'].apply(lambda x: x.split('(')[1].replace(')', '') if len(x.split('(')) > 1 else np.nan)
# k_data['영화명'] = k_data['영화명'].apply(lambda x: x.strip().split('(')[0])

# k_index = list(k_data[k_data.isin({'영화명': k_movie_list})]['영화명'].dropna().index)

k_data = k_data.iloc[k_index]

print(k_data.shape)
k_data.sample()

(6601770, 8)

,가격,상영관,상영시각,상영일자,영화명,좌석수,영화관,상영분류
12458,"17,000원",IMAX,12:50,2016-04-28,캡틴 아메리카: 시빌 워,297.000000,CGV 판교,IMAX 3D

In [ ]:
# concat 후에 할 작업
# 영화명 뒤에 붙어있는 (디지털), (IMAX) 등 따로 떼기
#     timetable_spread['상영분류'] = timetable_spread['영화명']
#     timetable_spread['상영분류'] = timetable_spread['상영분류'].apply(lambda x: x.split('(')[1].replace(')', '') if len(x.split('(')) > 1 else np.nan)
#     timetable_spread['영화명'] = timetable_spread['영화명'].apply(lambda x: x.split('(')[0])

    # 상영일자에서 요일 정보 컬럼 만들기 -> 주중(월화수목) 주말(금토일) 로 나누기
    timetable_spread['상영일자'] = pd.to_datetime(timetable_spread['상영일자'])
    timetable_spread['year'] = timetable_spread['상영일자'].dt.year
    timetable_spread['month'] = timetable_spread['상영일자'].dt.month
    timetable_spread['day'] = timetable_spread['상영일자'].dt.day
    timetable_spread['dayofweek'] = timetable_spread['상영일자'].dt.dayofweek

    timetable_spread['주말'] = 0
    # timetable_spread.loc[timetable_spread['dayofweek'] == 4, '주말'] = 1 # 금요일도 주중이니까 시간대 분류를 위해
    timetable_spread.loc[timetable_spread['dayofweek'] == 5, '주말'] = 1 
    timetable_spread.loc[timetable_spread['dayofweek'] == 6, '주말'] = 1 

    timetable_spread[['상영일자', 'year', 'month', 'day', 'dayofweek', '주말']]
    
    # 상영시각 등급
    timetable_spread.loc[timetable_spread['상영시각'] > '24:00', '상영시각등급'] = '나이트'
    timetable_spread.loc[timetable_spread['상영시각'] <= '24:00', '상영시각등급'] = '문라이트'
    timetable_spread.loc[timetable_spread['상영시각'] <= '22:00', '상영시각등급'] = '프라임'
    timetable_spread.loc[timetable_spread['상영시각'] <= '16:00', '상영시각등급'] = '데이라이트'
    timetable_spread.loc[timetable_spread['상영시각'] <= '13:00', '상영시각등급'] = '브런치'
    timetable_spread.loc[timetable_spread['상영시각'] <= '10:00', '상영시각등급'] = '모닝'