In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('float_format', '{:f}'.format)

plt.rc('font', family='AppleGothic') 
plt.rc('axes', unicode_minus=False)

warnings.filterwarnings('ignore')

In [2]:
film = pd.read_csv('../01.Data_Collection/films_final.csv')
screen = pd.read_csv('../01.Data_Collection/screens_final.csv')
show = pd.read_csv('../01.Data_Collection/show_timetable.csv')

In [3]:
film['장르'].unique()

array(['코미디,멜로/로맨스', '멜로/로맨스,드라마', '드라마', '멜로/로맨스,코미디', '멜로/로맨스', '다큐멘터리',
       '액션,드라마', '애니메이션', '멜로/로맨스,코미디,드라마', '사극,코미디,어드벤처', '드라마,코미디',
       '드라마,코미디,가족', '사극,드라마', '범죄,드라마', '코미디', '스릴러,드라마', '범죄,스릴러',
       '코미디,드라마', '가족,어드벤처', '공포(호러)', '애니메이션,어드벤처,코미디', '드라마,판타지,코미디',
       '스릴러', '사극', '멜로/로맨스,범죄', '미스터리,드라마', '드라마,범죄', '액션', '범죄,액션,드라마',
       '판타지,공포(호러)', '드라마,가족', '애니메이션,가족,어드벤처', '사극,액션', '판타지,멜로/로맨스',
       '공포(호러),스릴러', '스릴러,미스터리', '가족,드라마', '드라마,범죄,미스터리', '스릴러,범죄',
       '액션,어드벤처', '스릴러,멜로/로맨스,드라마', '판타지,멜로/로맨스,코미디', '전쟁,드라마', '코미디,범죄',
       '범죄,액션', '스릴러,액션', '공연', '판타지,공포(호러),멜로/로맨스', '판타지,드라마',
       '미스터리,스릴러', '코미디,액션', '드라마,전쟁', '범죄,코미디', '판타지,가족', '드라마,액션,범죄',
       '드라마,액션', '애니메이션,다큐멘터리', '미스터리,스릴러,드라마', '드라마,범죄,스릴러', '드라마,판타지',
       '애니메이션,드라마,판타지', '액션,스릴러', '스릴러,코미디', '애니메이션,판타지,어드벤처',
       '다큐멘터리,판타지', '미스터리', '드라마,스릴러', '액션,범죄', 'SF,스릴러', '애니메이션,액션,어드벤처',
       '애니메이션,코미디,액션', '범죄', '코미디,어드벤처,액션', '애니메이션,코미디', '드라마,사극',
       '미스터리,판타지', '드라마,멜로/로맨스', '드라마,다큐멘터리', '애니메이션,어드벤처,코미디,가족',
       '사극,어드벤처,코미디', '멜로/로맨스,스릴러', '가족,코미디', '가족,뮤지컬', '미스터리,범죄,스릴러',
       '미스터리,액션', '뮤지컬', '공포(호러),미스터리', 'SF,액션', '다큐멘터리,액션', '전쟁,드라마,판타지',
       '액션,코미디', '액션,사극', '드라마,미스터리', '코미디,드라마,범죄', '다큐멘터리,드라마', '기타',
       '다큐멘터리,가족', '판타지,코미디', '코미디,가족', '가족', '가족,멜로/로맨스,코미디', '애니메이션,가족',
       '코미디,다큐멘터리', '공포(호러),멜로/로맨스,코미디', '애니메이션,판타지', '코미디,사극',
       '애니메이션,코미디,판타지,어드벤처,멜로/로맨스', '미스터리,액션,판타지,공포(호러)', '사극,액션,드라마',
       '미스터리,공포(호러)'], dtype=object)

In [4]:
film['장르1'] = film['장르'].apply(lambda x: x.split(',')[0])

In [5]:
film['장르1'].unique()

array(['코미디', '멜로/로맨스', '드라마', '다큐멘터리', '액션', '애니메이션', '사극', '범죄', '스릴러',
       '가족', '공포(호러)', '미스터리', '판타지', '전쟁', '공연', 'SF', '뮤지컬', '기타'],
      dtype=object)

In [6]:
film[film['장르1'].isin(['공연', '뮤지컬', '기타'])]

,영화명,영화코드,개봉일,F-rated,장르,등급,영화구분,제작사,배급사,상영횟수,전국스크린수,전국매출액,전국관객수,서울매출액,서울관객수,감독1필모,감독1,감독1코드,감독1성별,감독2,감독2코드,감독2성별,감독3,감독3코드,감독3성별,감독4,감독4코드,감독4성별,작가,대표작가,대표작가(필명),작가코드,작가성별,작가_대표역할,작가필모,배우,주연배우,배우코드,배우성별,배우_대표역할,배우필모,장르1
117,서태지밴드 콘서트투어 '콰이어트나이트',20159002,2015-11-26,0,공연,전체관람가,일반영화,(주)서태지컴퍼니,(주)서태지컴퍼니,151,6,52669600.000000,5908,42698600,4775,서태지밴드 콘서트투어 '콰이어트나이트'|이티피 페스티벌 08X09 서태지|서태지 8...,서태지,10035656.000000,남자,-,-,-,-,-,-,-,-,-,서태지,서태지,서태지,10035656,남자,배우,서태지밴드 콘서트투어 '콰이어트나이트'|이티피 페스티벌 08X09 서태지|서태지 8...,서태지,서태지,10035656,남자,배우,서태지밴드 콘서트투어 '콰이어트나이트'|이티피 페스티벌 08X09 서태지|서태지 8...,공연
485,안나 카레니나,20185484,2018-06-29,3,뮤지컬,12세이상관람가,일반영화,(주)비프로,(주)비프로,140,9,19632800.000000,1116,13497200,800,안나 카레니나,신예지,20306569.000000,여자,-,-,-,-,-,-,-,-,-,신예지,신예지,신예지,20306569,여자,감독,안나 카레니나,에카테리나 구세바,에카테리나 구세바,10053440,여자,배우,안나 카레니나,뮤지컬
540,번 더 스테이지: 더 무비,20183050,2018-11-15,1,기타,전체관람가,일반영화,"빅히트 엔터테인먼트,(주)캠프엔터테인먼트",월트디즈니컴퍼니코리아 유한책임회사,4714,243,2671391900.000000,315010,776472800,87249,브링 더 소울 : 더 무비|번 더 스테이지: 더 무비,박준수,20311772.000000,남자,-,-,-,-,-,-,-,-,-,"이유리, 이수진, 유영은",이유리,이유리,20322037,여자,시나리오(각본),번 더 스테이지: 더 무비,"김남준,김석진,민윤기,정호석,박지민,김태형,전정국,방시혁,윤석준",김남준,20311775,남자,배우,브링 더 소울 : 더 무비|러브 유어셀프 인 서울|번 더 스테이지: 더 무비,기타
573,러브 유어셀프 인 서울,20185124,2019-01-26,0,공연,전체관람가,일반영화,"빅히트 엔터테인먼트,씨제이 씨지브이(CJ CGV)(주)",씨제이 씨지브이(CJ CGV)(주),4535,224,3209682900.000000,342366,1090468000,112697,러브 유어셀프 인 서울,빅히트 엔터테인먼트,0.000000,남자,-,-,-,-,-,-,-,-,-,빅히트 엔터테인먼트,빅히트 엔터테인먼트,빅히트 엔터테인먼트,0,남자,감독,러브 유어셀프 인 서울,"김남준,김석진,민윤기,정호석,박지민,김태형,전정국",김남준,20311775,남자,배우,브링 더 소울 : 더 무비|러브 유어셀프 인 서울|번 더 스테이지: 더 무비,공연
647,브링 더 소울 : 더 무비,20193275,2019-08-07,0,기타,전체관람가,일반영화,"빅히트 엔터테인먼트,(주)캠프엔터테인먼트",월트디즈니컴퍼니코리아 유한책임회사,10199,569,2902500310.000000,336074,952482010,102179,브링 더 소울 : 더 무비|번 더 스테이지: 더 무비,박준수,20311772.000000,남자,-,-,-,-,-,-,-,-,-,박준수,박준수,박준수,20311772,남자,감독,브링 더 소울 : 더 무비|번 더 스테이지: 더 무비,"김남준,김석진,민윤기,정호석,박지민,김태형,전정국",김남준,20311775,남자,배우,브링 더 소울 : 더 무비|러브 유어셀프 인 서울|번 더 스테이지: 더 무비,기타
648,캐리tv 러브콘서트 더 무비,20193642,2019-08-07,1,공연,전체관람가,일반영화,(주)캐리소프트,롯데컬처웍스(주)롯데엔터테인먼트,1538,155,225815700.000000,28679,63379600,7848,캐리tv 러브콘서트 더 무비,이민환,20327414.000000,남자,정귀호,20327432.0,남자,-,-,-,-,-,-,정귀호,정귀호,정귀호,20327432,남자,감독,캐리tv 러브콘서트 더 무비,"이성인,소경호,현채민,스텔라",이성인,20327415,여자,배우,캐리tv 러브콘서트 더 무비,공연

In [7]:
genre = film[~(film['장르1'].isin(['공연', '뮤지컬', '기타', '애니메이션', '다큐멘터리']))]
len(genre)

481

In [8]:
genre['개봉일'].dtype

dtype('O')

In [9]:
genre['개봉일'] = pd.to_datetime(genre['개봉일'])

In [11]:
y2015_1 = genre[(genre['개봉일'].dt.year==2015) & (genre['개봉일'].dt.month<=6)]
len(y2015_1)

43

In [12]:
y2015_2 = genre[(genre['개봉일'].dt.year==2015) & (genre['개봉일'].dt.month>=7)]
y2016_1 = genre[(genre['개봉일'].dt.year==2016) & (genre['개봉일'].dt.month<=6)]
y2016_2 = genre[(genre['개봉일'].dt.year==2016) & (genre['개봉일'].dt.month>=7)]
y2017_1 = genre[(genre['개봉일'].dt.year==2017) & (genre['개봉일'].dt.month<=6)]
y2017_2 = genre[(genre['개봉일'].dt.year==2017) & (genre['개봉일'].dt.month>=7)]
y2018_1 = genre[(genre['개봉일'].dt.year==2018) & (genre['개봉일'].dt.month<=6)]
y2018_2 = genre[(genre['개봉일'].dt.year==2018) & (genre['개봉일'].dt.month>=7)]
y2019_1 = genre[(genre['개봉일'].dt.year==2019) & (genre['개봉일'].dt.month<=6)]
y2019_2 = genre[(genre['개봉일'].dt.year==2019) & (genre['개봉일'].dt.month>=7)]

In [47]:
y15_1 = y2015_1.groupby('F-rated')['전국관객수'].sum().reset_index()
y15_1

   F-rated     전국관객수
0        0  25504523
1        1   8029117

In [48]:
y15_2 = y2015_2.groupby('F-rated')['전국관객수'].sum().reset_index()
y16_1 = y2016_1.groupby('F-rated')['전국관객수'].sum().reset_index()
y16_2 = y2016_2.groupby('F-rated')['전국관객수'].sum().reset_index()
y17_1 = y2017_1.groupby('F-rated')['전국관객수'].sum().reset_index()
y17_2 = y2017_2.groupby('F-rated')['전국관객수'].sum().reset_index()
y18_1 = y2018_1.groupby('F-rated')['전국관객수'].sum().reset_index()
y18_2 = y2018_2.groupby('F-rated')['전국관객수'].sum().reset_index()
y19_1 = y2019_1.groupby('F-rated')['전국관객수'].sum().reset_index()
y19_2 = y2019_2.groupby('F-rated')['전국관객수'].sum().reset_index()

In [26]:
y16_1 = y2016_1['F-rated'].value_counts().reset_index()

In [27]:
y16_2 = y2016_2['F-rated'].value_counts().reset_index()

In [28]:
y17_1 = y2017_1['F-rated'].value_counts().reset_index()

In [29]:
y17_2 = y2017_2['F-rated'].value_counts().reset_index()

In [30]:
y18_1 = y2018_1['F-rated'].value_counts().reset_index()

In [31]:
y18_2 = y2018_2['F-rated'].value_counts().reset_index()

In [32]:
y19_1 = y2019_1['F-rated'].value_counts().reset_index()

In [45]:
y19_2 = y2019_2['F-rated'].value_counts()
y19_2

0    13
3     3
1     2
2     1
Name: F-rated, dtype: int64

In [49]:
count_f = y15_1.merge(y15_2, how='right', on='F-rated').merge(y16_1, how='left', on='F-rated').merge(y16_2, how='left', on='F-rated').merge(y17_1, how='left', on='F-rated').merge(y17_2, how='left', on='F-rated').merge(y18_1, how='left', on='F-rated').merge(y18_2, how='left', on='F-rated').merge(y19_1, how='left', on='F-rated').merge(y19_2, how='left', on='F-rated')

In [50]:
count_f

,F-rated,전국관객수_x,전국관객수_y,전국관객수_x,전국관객수_y,전국관객수_x,전국관객수_y,전국관객수_x,전국관객수_y,전국관객수_x,전국관객수_y
0,0,25504523.000000,53241684,22959444,58438097,33601108,60669897,16613252,43466667,40231721,17884952
1,1,8029117.000000,15630821,7901605,10655760,2956392,14034997,15290374,15608261,5705141,1905409
2,2,nan,3107730,8193231,1168625,1599475,4839136,3497237,59312,7807613,1245520
3,3,nan,22389,1161057,1177936,133854,40714,65554,757327,6004,189491

In [51]:
count_f.loc[4] = count_f.loc[0] + count_f.loc[1] + count_f.loc[2] + count_f.loc[3]

In [52]:
count_f

,F-rated,전국관객수_x,전국관객수_y,전국관객수_x,전국관객수_y,전국관객수_x,전국관객수_y,전국관객수_x,전국관객수_y,전국관객수_x,전국관객수_y
0,0.000000,25504523.000000,53241684.000000,22959444.000000,58438097.000000,33601108.000000,60669897.000000,16613252.000000,43466667.000000,40231721.000000,17884952.000000
1,1.000000,8029117.000000,15630821.000000,7901605.000000,10655760.000000,2956392.000000,14034997.000000,15290374.000000,15608261.000000,5705141.000000,1905409.000000
2,2.000000,nan,3107730.000000,8193231.000000,1168625.000000,1599475.000000,4839136.000000,3497237.000000,59312.000000,7807613.000000,1245520.000000
3,3.000000,nan,22389.000000,1161057.000000,1177936.000000,133854.000000,40714.000000,65554.000000,757327.000000,6004.000000,189491.000000
4,6.000000,nan,72002624.000000,40215337.000000,71440418.000000,38290829.000000,79584744.000000,35466417.000000,59891567.000000,53750479.000000,21225372.000000

In [54]:
#count_f.to_csv('count_f2.csv', index=False)

In [55]:
screen.sample()

,영화코드,영화명,개봉일,점유율집계일,개봉n일차,개봉n일차(int),상영횟수,상영점유율,상영점유율순위,스크린수,스크린점유율,스크린점유율순위,좌석수,좌석판매율,좌석점유율,좌석점유율순위,매출액,누적매출액,관객수,누적관객수
5087,20148846,사도,2015-09-16,2016-11-07,418 days 00:00:00.000000000,418,3,0.055000,18,1,0.100000,20,780,20.600000,0.030000,16,322000,48845211501,161,6247327

In [56]:
screen_0 = screen[screen['개봉n일차(int)']>=0]

In [57]:
screen_0['영화명'].nunique()

662

In [64]:
screen_0[screen_0['영화명']=='비밀은 없다'].to_csv('비밀은 없다.csv', index=False)

In [66]:
screen_0[screen_0['영화명']=='걸캅스']

,영화코드,영화명,개봉일,점유율집계일,개봉n일차,개봉n일차(int),상영횟수,상영점유율,상영점유율순위,스크린수,스크린점유율,스크린점유율순위,좌석수,좌석판매율,좌석점유율,좌석점유율순위,매출액,누적매출액,관객수,누적관객수
37104,20184082,걸캅스,2019-05-09,2019-05-09,0 days 00:00:00.000000000,0,3434,52.774000,1,760,39.000000,1,476596,15.700000,18.800000,1,600962410,656761710,74718,80505
37105,20184082,걸캅스,2019-05-09,2019-05-10,1 days 00:00:00.000000000,1,3661,53.665000,1,834,41.200000,1,505985,19.900000,19.450000,1,883127033,1539888743,100549,181054
37106,20184082,걸캅스,2019-05-09,2019-05-11,2 days 00:00:00.000000000,2,4028,50.871000,1,941,37.100000,1,579856,35.800000,21.140000,1,1835756461,3375645204,207606,388660
37107,20184082,걸캅스,2019-05-09,2019-05-12,3 days 00:00:00.000000000,3,4070,51.893000,1,973,38.300000,1,593636,34.300000,22.080000,1,1794178850,5169824054,203308,591968
37108,20184082,걸캅스,2019-05-09,2019-05-13,4 days 00:00:00.000000000,4,4185,58.206000,1,894,46.200000,1,605244,12.200000,24.480000,1,602880820,5772704874,73974,665942
37109,20184082,걸캅스,2019-05-09,2019-05-14,5 days 00:00:00.000000000,5,4236,57.932000,1,942,45.200000,1,612192,12.500000,24.860000,1,609143820,6381848694,76544,742486
37110,20184082,걸캅스,2019-05-09,2019-05-15,6 days 00:00:00.000000000,6,2927,22.778000,3,756,22.400000,3,411078,15.600000,15.080000,3,508551020,6890399714,63999,806485
37111,20184082,걸캅스,2019-05-09,2019-05-16,7 days 00:00:00.000000000,7,2953,23.412000,2,809,22.800000,2,422803,11.700000,15.500000,2,398018680,7288418394,49509,855994
37112,20184082,걸캅스,2019-05-09,2019-05-17,8 days 00:00:00.000000000,8,3324,25.136000,2,872,24.100000,2,482076,14.700000,17.020000,2,613012210,7901430604,70771,926765
37113,20184082,걸캅스,2019-05-09,2019-05-18,9 days 00:00:00.000000000,9,3585,25.864000,2,885,22.800000,2,539838,29.200000,18.030000,2,1381847590,9283278194,157612,1084377
37114,20184082,걸캅스,2019-05-09,2019-05-19,10 days 00:00:00.000000000,10,3479,25.761000,2,865,22.500000,2,523561,27.400000,17.880000,2,1251767720,10535045914,143448,1227825
37115,20184082,걸캅스,2019-05-09,2019-05-20,11 days 00:00:00.000000000,11,3341,25.883000,2,815,23.300000,2,496692,8.300000,18.250000,2,334603120,10869649034,41314,1269139
37116,20184082,걸캅스,2019-05-09,2019-05-21,12 days 00:00:00.000000000,12,3322,25.774000,2,828,23.400000,2,494108,7.900000,18.210000,2,312140200,11181789234,39012,1308151
37117,20184082,걸캅스,2019-05-09,2019-05-22,13 days 00:00:00.000000000,13,3072,21.631000,2,714,19.600000,2,443328,8.800000,16.070000,2,311690020,11493479254,38840,1346991
37118,20184082,걸캅스,2019-05-09,2019-05-23,14 days 00:00:00.000000000,14,1745,17.061000,3,599,19.100000,3,233870,11.100000,8.260000,3,208670810,11702150064,26047,1373038
37119,20184082,걸캅스,2019-05-09,2019-05-24,15 days 00:00:00.000000000,15,1816,17.235000,3,637,19.500000,3,244623,14.500000,8.450000,3,308577790,12010727854,35502,1408540
37120,20184082,걸캅스,2019-05-09,2019-05-25,16 days 00:00:00.000000000,16,1755,16.710000,3,622,19.200000,3,233216,29.600000,7.700000,3,610422850,12621150704,69084,1477624
37121,20184082,걸캅스,2019-05-09,2019-05-26,17 days 00:00:00.000000000,17,1695,16.665000,3,632,19.400000,3,224564,27.000000,7.560000,3,528000390,13149151094,60541,1538165
37122,20184082,걸캅스,2019-05-09,2019-05-27,18 days 00:00:00.000000000,18,1785,17.843000,3,619,20.300000,2,238735,8.900000,8.590000,2,171506220,13320657314,21330,1559495
37123,20184082,걸캅스,2019-05-09,2019-05-28,19 days 00:00:00.000000000,19,1733,17.558000,3,623,20.000000,2,232085,7.700000,8.420000,2,142920020,13463577334,17900,1577395
37124,20184082,걸캅스,2019-05-09,2019-05-29,20 days 00:00:00.000000000,20,1185,14.381000,2,479,17.500000,2,146155,18.100000,5.230000,2,157521100,13621098434,26423,1603818
37125,20184082,걸캅스,2019-05-09,2019-05-30,21 days 00:00:00.000000000,21,319,2.588000,4,213,5.900000,4,36443,8.000000,1.320000,4,22612970,13643711404,2919,1606737
37126,20184082,걸캅스,2019-05-09,2019-05-31,22 days 00:00:00.000000000,22,315,2.482000,4,213,6.000000,4,35364,10.900000,1.260000,4,31945010,13675656414,3845,1610582
37127,20184082,걸캅스,2019-05-09,2019-06-01,23 days 00:00:00.000000000,23,215,1.652000,4,164,4.600000,4,23807,17.900000,0.820000,4,36020220,13711676634,4258,1614840
37128,20184082,걸캅스,2019-05-09,2019-06-02,24 days 00:00:00.000000000,24,206,1.622000,4,158,4.500000,4,22145,17.000000,0.780000,4,31357150,13743033784,3761,1618601
37129,20184082,걸캅스,2019-05-09,2019-06-03,25 days 00:00:00.000000000,25,228,1.871000,4,169,5.100000,4,25221,7.000000,0.930000,4,13639070,13756672854,1754,1620355
37130,20184082,걸캅스,2019-05-09,2019-06-04,26 days 00:00:00.000000000,26,221,1.811000,4,164,4.800000,4,24323,6.100000,0.900000,4,10862760,13767535614,1487,1621842
37131,20184082,걸캅스,2019-05-09,2019-06-05,27 days 00:00:00.000000000,27,48,0.519000,5,40,1.600000,5,5497,7.400000,0.190000,6,2947000,13770482614,407,1622249
37132,20184082,걸캅스,2019-05-09,2019-06-06,28 days 00:00:00.000000000,28,4,0.047000,16,4,0.200000,15,362,33.200000,0.010000,20,871940,13771354554,120,1622369
37133,20184082,걸캅스,2019-05-09,2019-06-07,29 days 00:00:00.000000000,29,12,0.142000,10,9,0.500000,10,1294,15.200000,0.040000,10,1414980,13772769534,197,1622566
37134,20184082,걸캅스,2019-05-09,2019-06-08,30 days 00:00:00.000000000,30,12,0.143000,8,12,0.600000,8,1444,17.300000,0.050000,7,1579660,13774349194,250,1622816
37135,20184082,걸캅스,2019-05-09,2019-06-09,31 days 00:00:00.000000000,31,14,0.171000,8,14,0.700000,7,1706,15.200000,0.060000,7,1661960,13776011154,259,1623075
37136,20184082,걸캅스,2019-05-09,2019-06-10,32 days 00:00:00.000000000,32,10,0.128000,9,10,0.500000,9,1309,14.100000,0.050000,9,1013000,13777024154,184,1623259
37137,20184082,걸캅스,2019-05-09,2019-06-11,33 days 00:00:00.000000000,33,10,0.129000,9,10,0.500000,9,1228,15.400000,0.050000,9,1062500,13778086654,189,1623448
37138,20184082,걸캅스,2019-05-09,2019-06-12,34 days 00:00:00.000000000,34,8,0.134000,11,8,0.500000,10,1070,15.500000,0.040000,11,876000,13778962654,166,1623614
37139,20184082,걸캅스,2019-05-09,2019-06-13,35 days 00:00:00.000000000,35,7,0.126000,9,7,0.500000,9,959,20.400000,0.030000,10,1095000,13780057654,196,1623810
37140,20184082,걸캅스,2019-05-09,2019-06-14,36 days 00:00:00.000000000,36,7,0.121000,10,7,0.500000,9,802,20.100000,0.030000,10,856000,13780913654,161,1623971
37141,20184082,걸캅스,2019-05-09,2019-06-15,37 days 00:00:00.000000000,37,7,0.122000,9,7,0.500000,8,844,19.000000,0.030000,9,827000,13781740654,160,1624131
37142,20184082,걸캅스,2019-05-09,2019-06-16,38 days 00:00:00.000000000,38,6,0.107000,9,6,0.400000,8,887,17.800000,0.030000,9,804000,13782544654,158,1624289
37143,20184082,걸캅스,2019-05-09,2019-06-17,39 days 00:00:00.000000000,39,10,0.179000,8,9,0.700000,8,1560,14.600000,0.060000,9,1109000,13783653654,227,1624516
37144,20184082,걸캅스,2019-05-09,2019-06-18,40 days 00:00:00.000000000,40,31,0.553000,5,31,2.200000,5,3842,26.500000,0.140000,5,5250000,13788903654,1017,1625533
37145,20184082,걸캅스,2019-05-09,2019-06-19,41 days 00:00:00.000000000,41,15,0.162000,8,15,0.700000,8,1795,26.600000,0.060000,10,2603480,13791507134,478,1626011
37146,20184082,걸캅스,2019-05-09,2019-06-20,42 days 00:00:00.000000000,42,28,0.404000,4,28,1.500000,4,3631,26.600000,0.120000,4,5027000,13796534134,964,1626975
37147,20184082,걸캅스,2019-05-09,2019-06-21,43 days 00:00:00.000000000,43,6,0.087000,7,6,0.300000,7,1016,14.900000,0.030000,8,762000,13797296134,151,1627126
37148,20184082,걸캅스,2019-05-09,2019-06-22,44 days 00:00:00.000000000,44,9,0.150000,6,9,0.500000,6,1281,19.400000,0.040000,6,1316000,13798612134,248,1627374
37149,20184082,걸캅스,2019-05-09,2019-06-23,45 days 00:00:00.000000000,45,5,0.087000,9,5,0.300000,9,681,22.000000,0.020000,11,750000,13799362134,150,1627524
37150,20184082,걸캅스,2019-05-09,2019-06-24,46 days 00:00:00.000000000,46,9,0.140000,8,9,0.500000,8,1120,25.600000,0.040000,9,1415000,13800777134,287,1627811
37151,20184082,걸캅스,2019-05-09,2019-06-25,47 days 00:00:00.000000000,47,6,0.093000,9,6,0.300000,9,799,20.300000,0.030000,9,810000,13801587134,162,1627973
37152,20184082,걸캅스,2019-05-09,2019-06-26,48 days 00:00:00.000000000,48,1,0.017000,20,1,0.000000,17,42,52.400000,0.000000,24,110000,13801697134,22,1627995
37153,20184082,걸캅스,2019-05-09,2019-06-27,49 days 00:00:00.000000000,49,7,0.122000,9,6,0.300000,9,1286,19.700000,0.040000,11,1720000,13803417134,253,1628248
37154,20184082,걸캅스,2019-05-09,2019-06-28,50 days 00:00:00.000000000,50,1,0.019000,17,1,0.100000,15,52,80.800000,0.000000,31,210000,13803627134,42,1628290
37155,20184082,걸캅스,2019-05-09,2019-07-01,53 days 00:00:00.000000000,53,3,0.062000,15,3,0.200000,13,224,57.600000,0.010000,16,650000,13804277134,129,1628419
37156,20184082,걸캅스,2019-05-09,2019-07-02,54 days 00:00:00.000000000,54,1,0.054000,18,1,0.100000,14,83,100.000000,0.000000,36,747000,13805024134,83,1628502
37157,20184082,걸캅스,2019-05-09,2019-07-08,60 days 00:00:00.000000000,60,3,0.164000,19,1,0.100000,20,126,100.000000,0.000000,33,630000,13805654134,126,1628628
37158,20184082,걸캅스,2019-05-09,2019-07-09,61 days 00:00:00.000000000,61,2,0.109000,19,2,0.200000,15,383,40.700000,0.010000,17,780000,13806434134,156,1628784
37159,20184082,걸캅스,2019-05-09,2019-07-16,68 days 00:00:00.000000000,68,1,0.026000,23,1,0.100000,20,104,1.000000,0.000000,30,5000,13806439134,1,1628785
37160,20184082,걸캅스,2019-05-09,2019-07-17,69 days 00:00:00.000000000,69,1,0.081000,23,1,0.100000,20,127,44.100000,0.000000,25,427000,13806866134,56,1628841
37161,20184082,걸캅스,2019-05-09,2019-07-25,77 days 00:00:00.000000000,77,1,0.013000,27,1,0.000000,24,132,92.400000,0.000000,25,610000,13807476134,122,1628963
37162,20184082,걸캅스,2019-05-09,2019-09-04,118 days 00:00:00.000000000,118,2,0.018000,31,2,0.100000,27,542,76.600000,0.020000,24,4126000,13811602134,415,1629378