# 'actor_code.csv' 파일의 결측치 채우기

In [2]:
import pandas as pd

In [3]:
actorcode = pd.read_csv('../01.Data_Collection/actor_code.csv')

In [4]:
actorcode.head()

,filmoNames,movieNm,peopleCd,peopleNm,repRoleNm
0,인질(가제)|다만 악에서 구하소서|공작|군함도|군함도 감독판|아수라|곡성|검사외전|...,베테랑,10090290,황정민,배우
1,소리도 없이|국가부도의 날|버닝|좋아해줘|사도|베테랑|우아한 거짓말|우리별 일호와 ...,베테랑,10053802,유아인,배우
2,봉오동 전투|승리호(가제)|말모이|완벽한 타인|레슬러|1987|택시운전사|공조|럭키...,베테랑,10054128,유해진,배우
3,이웃 사촌|조선명탐정: 흡혈괴마의 비밀|신과함께-죄와 벌|니 부모 얼굴이 보고 싶다...,베테랑,10050151,오달수,배우
4,베테랑,베테랑,20211726,장윤주,배우

In [5]:
actorcode.isnull().sum()

filmoNames    1
movieNm       0
peopleCd      0
peopleNm      0
repRoleNm     5
dtype: int64

## 'repRoleNm' 컬럼 (역할)

In [7]:
actorcode['repRoleNm'].unique()

array(['배우', '촬영팀', '액션/스턴트코디네이터', '액션/스턴트', '액션/스턴트팀', '그립', 'VFX 아티스트',
       '의상팀', '프로듀서', '연출팀', '스토리보드', '제작팀', '원작', '조명팀', '사운드디자이너',
       '특수효과', '미술팀', '소품팀', '조감독', '홍보/마케팅 진행', '제작', '헤어', '라인프로듀서',
       '메이킹필름', '감독', '온라인마케팅', '동시녹음팀', '조명', '음악', '스틸', 'VFX 매니지먼트',
       '아트디렉터', '촬영', '각색', '현장편집', '붐오퍼레이터', '의상', 'VFX 슈퍼바이저', 'DI팀',
       '시나리오(각본)', '사운드팀', '제작회계', '동시녹음', '케이블맨', '미술/프로덕션 디자인', '광고디자인',
       nan, '광고대행', '예고편', '제작관리', '캐스팅', '특수분장', '데이타매니저', '스크립터',
       '애니메이션팀', '발전차', '광고동영상', '사운드효과', '작사/작곡/편곡', '분장', '폴리', '기타',
       '운송', '기획', '분장팀', '특수촬영', '사운드', '기획진행', '편집', '대사', '음악진행',
       '애니메이션촬영팀', '캐스팅디렉터', '포스터사진', '소품', '분장차', '세트팀', '편집팀', '특수효과팀',
       '촬영장비', '카메라오퍼레이터', '식당차', '헤어팀', '조명장비'], dtype=object)

In [6]:
actorcode[actorcode['repRoleNm'].isnull()]

,filmoNames,movieNm,peopleCd,peopleNm,repRoleNm
1322,다이노 타임|빌리와 용감한 녀석들 2 |주먹왕 랄프|바보 삼총사,다이노 타임,10063852,제인 린치,NaN
1631,기적의 피아노,기적의 피아노,20214267,박정순,NaN
2530,인천상륙작전 : 익스텐디드 에디션(확장판)|인천상륙작전,인천상륙작전,20222146,추성훈,NaN
7194,참외향기|파도 여인 그리고 탱고 무삭제판|파도 여인 그리고 탱고|탱고,참외향기,10030395,백학기,NaN
9577,굿바이 썸머,굿바이 썸머,20323372,정제원,NaN

In [9]:
actorcode.iloc[1322, 4] = '배우'
actorcode.iloc[1631, 4] = '배우'
actorcode.iloc[2530, 4] = '배우'
actorcode.iloc[7194, 4] = '배우'
actorcode.iloc[9577, 4] = '배우'

## 'filmoNames' 컬럼 (필모그래피)

In [16]:
actorcode[actorcode['filmoNames'].isnull()]

     filmoNames movieNm  peopleCd peopleNm repRoleNm
4898        NaN   더 테이블  20152310      이재훈       DI팀

In [19]:
actorcode['filmoNames'] = actorcode['filmoNames'].fillna('더 테이블')

In [21]:
actorcode.isnull().sum()

filmoNames    0
movieNm       0
peopleCd      0
peopleNm      0
repRoleNm     0
dtype: int64

In [22]:
actorcode.to_csv('../01.Data_Collection/actor_code.csv')