In [82]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# plot 한글출력
plt.rcParams['font.family'] = 'NanumGothic'

# warning message 제거
import warnings
warnings.filterwarnings('ignore')

In [83]:
# 컬럼명 오류로 인해,,,,한국어로 인코딩을 함.. 하지만 결국 안됨.
audits = pd.read_csv('../movie_data/audits.csv' ,encoding = 'utf-8')
boxoffice = pd.read_csv('../movie_data/boxoffice.csv' ,encoding = 'utf-8')
companys= pd.read_csv('../movie_data/companys.csv' ,encoding = 'utf-8')
show_time= pd.read_csv('../movie_data/show_time.csv' ,encoding = 'utf-8')

In [84]:
audits.head()

         auditNo   movieCd watchGradeNm
0  2014-MF01401   20148048     15세이상관람가
1  2015-MF00751   20148851     15세이상관람가
2  2015-MF01214   20149314      청소년관람불가
3  2015-MF01188   20145503     15세이상관람가
4  2015-MF01012   20148846     12세이상관람가

In [85]:
audits

           auditNo   movieCd watchGradeNm
0    2014-MF01401   20148048     15세이상관람가
1    2015-MF00751   20148851     15세이상관람가
2    2015-MF01214   20149314      청소년관람불가
3    2015-MF01188   20145503     15세이상관람가
4    2015-MF01012   20148846     12세이상관람가
..             ...       ...          ...
803   2019-MF01498  20188750     15세이상관람가
804   2019-MF00326  20176103     15세이상관람가
805   2019-MF00595  20183782     15세이상관람가
806   2019-MF01369  20184621     12세이상관람가
807   2018-MF02462  20182530     15세이상관람가

[808 rows x 3 columns]

In [86]:
audits.isnull().sum()

auditNo         0
movieCd         0
watchGradeNm    0
dtype: int64

In [87]:
show_time.head()

    movieCd  showTm
0  20148048   123.0
1  20148851   139.0
2  20149314   130.0
3  20145503   108.0
4  20148846   125.0

In [88]:
show_time

      movieCd  showTm
0    20148048   123.0
1    20148851   139.0
2    20149314   130.0
3    20145503   108.0
4    20148846   125.0
..        ...     ...
801  20188750   114.0
802  20176103   115.0
803  20183782   131.0
804  20184621   103.0
805  20182530   111.0

[806 rows x 2 columns]

In [89]:
audits.isnull().sum()

auditNo         0
movieCd         0
watchGradeNm    0
dtype: int64

In [90]:
companys

      companyCd     companyNm companyPartNm   movieCd
0      20100374       (주)외유내강           제작사  20148048
1      20186561       (주)필름케이           제작사  20148048
2      20110854     씨제이이앤엠(주)           배급사  20148048
3      20110854     씨제이이앤엠(주)            제공  20148048
4      20100109     씨제이엔터테인먼트        해외세일즈사  20148048
...         ...           ...           ...       ...
3075   20156628  영화사 해그림 주식회사           제작사  20182530
3076   20110854     씨제이이앤엠(주)           제작사  20182530
3077   20110854     씨제이이앤엠(주)           배급사  20182530
3078   20110854     씨제이이앤엠(주)            제공  20182530
3079   20100109     씨제이엔터테인먼트        해외세일즈사  20182530

[3080 rows x 4 columns]

In [91]:
companys.isnull().sum()

companyCd        0
companyNm        0
companyPartNm    0
movieCd          0
dtype: int64

In [92]:
companys['companyNm'].unique()

array(['(주)외유내강', '(주)필름케이', '씨제이이앤엠(주)', '씨제이엔터테인먼트', '(주)포스크리에이티브파티',
       '(주)케이퍼필름', '(주)쇼박스', '(주)인터파크', '(유)내부자들 문화전문회사', '영화사 집',
       '오퍼스픽쳐스(유)', '유나이티드픽처스(주)', '(주)타이거픽쳐스', '(주)로제타시네마',
       '(주)넥스트엔터테인먼트월드(NEW)', 'IBK 기업은행', 'IBK캐피탈', '(주)콘텐츠판다', '(주)영화나무',
       '(주)아이에이치큐', '(주)제이케이필름', '청년필름(주)', '디지털 아이디어', '(주)제이콘컴퍼니',
       '(주)영화사 신세계', '(주)비에이엔터테인먼트', '(주)크리픽쳐스', '(주)미스터로맨스', '(주)모베라픽처스',
       '(주)빅픽쳐', '(주)용필름', '유한회사 제이필름', '(주)무브픽쳐스', '(주)팝콘에프앤엠',
       '폴룩스픽쳐스(주)', 'CGV아트하우스', '(주)수필름', '롯데쇼핑㈜롯데엔터테인먼트', '(주)화인컷',
       '(주)사나이픽처스', '상상필름(주)', '(주)영화사 빛나는 제국', '우수영화사', '(주)미인픽쳐스',
       '씨네그루(주)다우기술', '(주)엠라인디스트리뷰션', '(주)우주필름', '(주)뱅가드스튜디오',
       '반짝반짝영화사(주)', '(주)영화사아이비젼', '메가박스중앙(주)플러스엠', '산수벤처스',
       '타임와이즈인베스트먼트(주)', '(주)미디어로그', '(주)우리인베스트먼트', '(주)파인컴퍼니', '(주)두타연',
       '(주)판타지오픽쳐스', '(주)전망좋은 영화사', 'TCO(주)더콘텐츠온', '캐피탈원(주)',
       '(주)대교인베스트먼트', '(주)화인웍스', '(주)키메이커', '(주)유비유필름', '(주)주피터필름',
       '(주)리틀빅픽쳐스', '(주)이수C&E', '이수창업투자(주)', '케이티하이텔(주)', '(주)영화사 담담',
       '(주)어바웃필름', '(주)하리마오픽쳐스', '(주)영화사꽃', '비밀의화원', '(주)마음에드는영화사',
       '(주)마인스 엔터테인먼트', '(주)아이엠비씨', '(주)연우무대', '(주)인사이드픽쳐스', '(주)시네마서비스',
       '(주)나이너스엔터테인먼트', '(주)티피에스컴퍼니', '(주)유니프로', '(주)스톰픽쳐스코리아', '판씨네마(주)',
       '한국영화아카데미', '(주)영화사비단길', '(주)명필름', '(주)청우필름', '(주)와우픽쳐스',
       '(주)데이드림', '(주)인벤트스톤', '(유)조이앤시네마', '(주)케이알씨지', '(주)오콘',
       '휠므빠말주식회사', '이십세기폭스 인터내셔널 프로덕션', '이십세기폭스코리아(주)', '(주)홍필름',
       '영화사 우상', '필라멘트픽쳐스', '주식회사 토이온', '타임박스엔터테인먼트(주)', '(주)케이프로덕션',
       '플로우식스(주)', '버티고필름', '더램프(주)', '㈜감독의집', '(주)버킷스튜디오', '더컨텐츠콤(주)',
       '영화사 도로시(주)', '(주)에스에이치기획', '(주)영화제작전원사 ', '위더스필름(주)',
       '(주)삼지애니메이션', '에이원엔터테인먼트', '(주)초이락컨텐츠팩토리', '한국교육방송공사 EBS',
       '(주)26컴퍼니', '(주)대명문화공장', '(주)하이하버픽쳐스', '(주)엣나인필름', '(주)모쿠슈라',
       '㈜인디스토리', '(주)효인엔터테인먼트', '베데코리아 ', '골든타이드픽처스(주)', '필름라인',
       '(유)조이앤컨텐츠그룹', '(주)에이블엔터테인먼트', '(주)미디어캐슬', '준필름', '(주)다세포클럽',
       '(주)코리아스토리 ', '와이드 릴리즈(주)', '(주)루카프로덕션', '(주)아이필름홀딩스', '아이러브시네마',
       '반달', '(주)독에어', '(주)얼리버드픽쳐스', '(주)쏘울 크리에이티브', '(주)보고싶은영화사',
       '(주)담소필름', '(주)빅스톤픽쳐스', '영화사 벽돌', 'KT&G 상상마당 영화사업팀 컴퍼니에스에스(주)',
       '(주)크레이지버드스튜디오', '(주)에이원엔터테인먼트', '(주)에스엠 컬처앤콘텐츠', '주식회사 디에스이이디',
       '4.16 세월호 참사 시민기록위원회', '<나쁜 나라> 배급위원회', '(주)시네마달', '(주)유비콘텐츠',
       '주식회사 유비컬쳐', '(주)영화사 안다미로', '민병훈필름', '파이오니아21', '세컨드윈드 필름',
       '(유)산다문화산업전문회사 ', '(재)전주국제영화제조직위원회', '주식회사 다양상회', '영화사 낭만',
       '(주)레인보우팩토리', '(주)영화사 진진', '방인리필름', '(주)팡고엔터토이먼트', '(주)팝엔터테인먼트',
       '(주)쿠나', '유영분장', '스튜디오두마', 'Studio Allo', '애니메이션 배급, 씨앗',
       '(주) 루스이소니도스', '(주)컨텐츠로드', '플레인 픽처스', '서울독립영화제', '(주)인디플러그',
       '영화 고양이 장례식 제작 조합', '브릿지 프로덕션', '㈜리필름', '(주)드림팩트엔터테인먼트', '(주)예스컴',
       '하준사', '(주)미로비젼', '(주)맑음영화사', '주식회사 마운틴픽쳐스', '일반사단법인 유메켄세츠기구',
       '미라클필름', '(주)꿈길제작소', '허철필름', '(주)영화사 북촌', '대국미디어그룹',
       '한국방송예술교육진흥원 ', '영화사 키노(주)', '(주)률필름', '(주)스마일이엔티', '(주)영화사메이플러스',
       'THE 픽쳐스', '창작집단917', '민프로덕션', '캣앤독스', '(주)고앤고필름', '제주 영상위원회',
       '오지필름', '필름문', '(주)영화사오원', '전재홍 필름', '(주)씨제이에스지 마당엔터테인먼트',
       'exposed film', '레드무비', '(주)따미픽쳐스', '(주)한국시나리오작가영상제작단', '사십이',
       '(주)타이거시네마', 'DGC', '궁금단영화', '무브먼트', 'Timelapse pictures', '홀리가든',
       '어썸피플', '어썸픽쳐스', '어뮤즈', '(주)무비엔진', '(주)아우라씨엔씨', '(주)패뷸러스',
       '(주)서태지컴퍼니', '(주)영화사 통 ', '이달투', '(주)박수엔터테인먼트', '(주)미로스페이스',
       '(주)에이든컴퍼니', '두물머리픽쳐스', '(주)로드하우스', '노바엔터테인먼트 ', '무서운영화',
       '(주)콘텐츠윙', '(주)리키필름', '(주)에스에이치필름', '예지림엔터테인먼트', '로드 시네마',
       '(주)영화사 조제', '활동사진', '(주)트리필름', '주식회사 루믹스미디어', '야간비행',
       '고구마콘텐츠허브(주)', '다큐창작소', '불안한외출배급위원회', '쟈비스미디어', 'PK미디어크레이티브',
       '키호테', '핵존슨', '에이라인', '곡사', '(주)컴퍼니 숨', '(주)화인픽쳐스', '윤윤상회',
       '더사람픽쳐스', '아시아프레스', '(주)씨네포트', '에이치케이 이엔엠', '(주)로이테미디어', '강의석필름',
       '부산MBC', '(주)씨에이씨엔터테인먼트', '(주)영화사히트', '지오엔터테인먼트', '(주)산타크루즈',
       '영화사 인연', '(주)소나무픽쳐스', '(주)씨네토리', '(주)피터팬픽쳐스', '밀크픽처스',
       '(주)김기덕 필름', '아방가르드 필름', '(주)영화사레드피터', '(주)영화사 월광', '(주)다크서클픽쳐스',
       '워너브러더스 코리아(주)', '(주)영화사하얼빈', '워너 브러더스 픽쳐스', '(주)어나더썬데이',
       '(주)태원엔터테인먼트', 'KBS', 'KBS 미디어', '(주)사이드미러', '(주)하이브미디어코프',
       '(주)영화사호필름', '(주)디씨지플러스', '주식회사 제이오엔터테인먼트코리아', '커넥트픽쳐스(주)',
       '굿초이스컷픽쳐스(주)', '호두앤유 엔터테인먼트(주)', '(주)영화사람', '(주)엠픽처스',
       '(주)에스엔케이픽처스', '(주)콘텐츠케이', '다이스필름(주)', '(주)조이래빗', '영화사올(주)',
       '(주)발렌타인필름', '리양필름(주)', '케이엠컬쳐㈜', '영화사 문(주)', '(주)영화사수작',
       '모티브픽쳐스(주)', '(주)바른손이앤에이', '(주)퍼플켓츠필름', '(주)빅스토리픽쳐스',
       '(주)콘텐츠 난다긴다', '미시간벤처캐피탈(주)', '(주)영화사 좋은날', '(주)더블유 팩토리',
       '주식회사 브레인샤워', '(주)무비스퀘어', '(주)프레인글로벌', '아툰즈', '(주)영화사거미', '필름트레인',
       '(주)영화사봄', '엠앤씨에프', '(주)보리픽쳐스', '주식회사 영화사다', '스튜디오홀호리(주)',
       '(주)MBC', '케이티비네트워크(주)', '주식회사 다다쇼', '한국탐사저널리즘센터', '(주)아이코닉스',
       '(주)스튜디오게일', '주식회사 뭉클픽쳐스', '영화진흥위원회', '㈜디지아트프로덕션', '씨네그루(주)키다리이엔티',
       '(주)신씨네', '(주)드림써치C&C', '(주)엠씨엠씨', '프랭키영화문화산업전문(주)',
       '(주)리퀴드브레인스튜디오', '(주)와이지엔터테인먼트', '씨제이 씨지브이(CJ CGV)(주)', '(재)CBS',
       '더퀸디앤엠 주식회사', '(주)아토', '(주)노버스미디어코프', '광화문시네마', '국가인권위원회',
       '정지우 필름', '엘씨오픽쳐스', '휴메니테라픽쳐스(주)', '컴퍼니에이이엔티(주)', '동우에이앤이(주)',
       '(주)한이야기', '(주)디스테이션', '컴퍼니케이파트너스(주)', '(주)메이저타운', '(주)더재미팩토리',
       '(주)알지엔터웍스', '(주)라이크 콘텐츠', '(주)프레스토인베스트먼트', '시네마팩토리', '(주)엘픽쳐스',
       '(주)영화제작전원사', '(주)버디필름', '(주)모멘텀엔터테인먼트', '(주)라임오렌지팩토리', '민영화사',
       '후즈닷컴', '(주)수현재엔터테인먼트', '영화사 숨비', '퍼레이드 픽쳐스', '(주)나무와 숲', '(주)인스터',
       '부산민주언론시민연합사업단 미디토리', '영화사 연필', '프로젝트 투게더', '인디라인', '(주)씨네코뮨',
       '리람', '더블엔비컴퍼니(주)', '(주)동녘필름', '네온프로덕션', '퓨어웨이픽쳐스',
       '한국게이인권운동단체 친구사이', 'Arbella Studio', '킨드리드 이미지', '(사)필레마', '필름포럼',
       '앤유엔터테인먼트(주)', '영화사삼십육번지유한회사', '(주)큰손엔터테인먼트', '주식회사 윗돌',
       '(주)맑은시네마', '홍시픽쳐스', '영화사 만화경', '주식회사 씨네룩스', '파인스토리', '(주)인베스트하우스',
       '(주)블루아이엔터테인먼트', '(주)문와쳐', '(주)인디컴', '영화사청어람(주)', '비치사', '(주)로카',
       '㈜스토리셋', '푸른영상', '아베크엠 엔터테인먼트', '(주)꿈꾸는 오아시스', '피도 안마른 녀석들',
       '민치앤필름', '영화사 소일', '봄저너머 미디어', '농부영화사', '스파이럴 프로젝트', '(주)케이피필름',
       '썬택엔터테인먼트 주식회사', '(주)키노크러시', '(주)제이에이와이이엔터테인먼트', '영화사 민들레',
       '하트박스(주)', '그림형제', '더파인트', '야그프로덕션', '테디베어필름', '보리와 오디 영화사',
       '제이메이드필름', '(주)컨텐츠 빌리지', '뉴에이지필름', '주식회사 씨엠닉스', '이공희 필름', '시네마 뉴원',
       '(주)에이디사공육', '영화사 새삶', '㈜희원엔터테인먼트', '(주)제이앤씨미디어그룹', '영화사 이창',
       '(주)에이치비엔터테인먼트', '영화사 몸', '스토리 너머', '아이 엠', '미디어길', '(주)영화사 북극곰',
       '오락가락픽쳐스', '(주)판다미디어', '(주)영화사심플렉스', '컬쳐메이트', '월트디즈니컴퍼니코리아 유한책임회사',
       '(주)아이필름코퍼레이션', '(주)이디오플랜', '(주)로드픽쳐스', '(주)퍼펙트스톰필름', '명필름랩',
       '(주)써니엔터테인먼트', '(주)영화사불', '노가리필름', '(주)영화사소요', '(주)백그림',
       '(주)실버라이닝 스튜디오', '(주)영화사 조은', '유니온투자파트너스(주)', '(주)달고나엔터테인먼트',
       '(주)트리니티엔터테인먼트', '(주)영화사장춘', '(주)큐로홀딩스', '(주)곽픽쳐스', '영화사 행성',
       '리드미컬그린(주)', '자이온 이엔티(주)', '브릿지웍스 엔터테인먼트(주)', '라이브(주)',
       '(주)페퍼민트앤컴퍼니', '(주)엠씨씨엔터테인먼트', '영화사김치(주)', '미디어파크(주)', '투썸업픽쳐스',
       '(주)기린제작사', '프로젝트 부 ', '재단법인 온누리선교재단(CGNTV)', '(주)팔레트픽처스',
       '(주)더타워픽쳐스', '레트로봇 주식회사', '(합)알지애니메이션스튜디오', '(주)모팩', '비아신 픽처스',
       '(주)블루블랙', '(주)더블앤조이픽쳐스', '(주)바른손', '(주)광대무변', '822 필름',
       '사단법인 한국영화인총연합회 대구경북지회', '(주)무비포지', '(주)영화사 그램', '영화사 풀',
       '영화사 서울집', '리얼라이즈픽쳐스(주)', '(주)베르디미디어', '(주)블러썸픽쳐스', '(주)은하수엔터테인먼트',
       '(주)에이디엠엔터테인먼트', '강 컨텐츠', '(주)에픽캔', '(주)앞에있다', '(주)네오스카이인터내셔날',
       '영화사 아람(주)', '(주)레드힐엔터테인먼트', '(주)라인필름', '헤이앤컴퍼니', '청주대학교 영화학과',
       '(주)비엠컬쳐스', '(주)아우라픽처스', '(주)코브픽쳐스', '(유)박열문화전문회사', '딥 포커스',
       '(주)마고필름', '(주)콘텐츠나무', '상구네 필름', '움', '콧수염필름즈', '(주)무비락',
       '(주)도서관옆스튜디오', '베리굿스튜디오(주)', '(주)드림캡쳐', '(주)영화사 금월', '(주)넥스트월드',
       '월요일 아침', '영화배급협동조합 씨네소파', '오피오티픽쳐스', '찬란', '볼미디어(주) ',
       '(주)연필로명상하기', '(주)더블유픽처스', '(주)그린피쉬', "성소수문화환경을 위한 모임 '연분홍치마'",
       '코라필름', '(주)메가커뮤니케이션즈', '(주)에임하이글로벌', '(주)영화사 연두 ', '(주)메타플레이 ',
       '(주)영화사진', '(주)컬처캡코리아', '주식회사 영화사 시선', '이야기秀CUT ', '소나무필름',
       '(주)프로섬', '카고 필름 앤 릴리징', '(주)레드로버', '툰박스 엔터테인먼트', '(주)싸이런픽쳐스',
       '(주)키위미디어그룹', '주식회사 키위컴퍼니', '(주)영화사 사계절', 'BPM 엔터테인먼트',
       '동아방송예술대학교산학협력단', 'HATCH FILM ', '(주)미디어테라스', '(주)에스와이코마드',
       '대성창업투자(주)', 'KDB Capital', '주식회사 단유필름', '(주)글러브엔터테인먼트',
       '영화사 님아 주식회사', '(주)와호엔터테인먼트', '모베터필름 주식회사', '프로젝트 잉여', '다큐서울 ',
       '(주)영화사 소중한', '52DAYS FILM', '(주)영화사두둥', '(주)마이더스필름', 'Picsso',
       '(주)원픽쳐스', '씨네주 유한회사', '(주)제이콘텐트리', '씨네마캣 픽쳐스', '(주)영화공장',
       '리얼곤시네마', '글뫼 주식회사', '봄내필름', '(주)그란', '이언픽쳐스', '(주)인터하우스', '장풍E&M',
       'M&M 인터내셔널', '영화사 달리기', '(주)와이웍스엔터테인먼트', '(주)덱스터스튜디오', '(주)우정필름',
       '영화사 온난전선', '(주)블랙홀엔터테인먼트', '주식회사 시온픽쳐스', '영화연구소', '냉이영화',
       '(주)미디어모굴', '스튜디오 수집', '한국영상대학교', '필름에이픽쳐스', '윈드웰러스 필름(주)',
       '영화사 잠', '주식회사 케이무비엔터테인먼트', '(주)엔에이치씨미디어', '(주)한마음프로덕션',
       '(주)영화사 궁', '컨텐츠쇼크(주)', '(주)스토리제이', '(주)도너츠컬처', '삼삼공구 브라더스',
       '(주)영화사수박', '태흥영화(주)', '(주)싸이더스', '명작엔터테인먼트(주)', '바른미디어',
       '(주)마운틴무브먼트스토리', '(주)푸른나무픽쳐스', '(주)영화사조아', '영화사 질주', '(주)모토',
       '힘컨텐츠(주)', '(주)곰픽쳐스', '(주)스위시', '주식회사 자파리필름', '그린나래미디어(주)',
       '(주)젠픽쳐스', '엠에스케이컨텐츠', '시네마미션', 'TBC', '영화사 마농(주)', '(주)오아시스이엔티',
       '가영만사 필름', '(주)코코너', '(주)안나푸르나필름', '주식회사 무당벌레필름', '(주)알앤오엔터테인먼트',
       '자메이크 필름', '파인하우스필름(주)', '나우필름(주)', '노센스필름', '윤스', 'SK 브로드밴드',
       '(주)훈프로', '큐브이미지웍스', '(주)더블에스', '(주)영화사울림', '네이버웹툰 주식회사',
       '롯데컬처웍스(주)롯데엔터테인먼트', '(주)아이엠티브이', '(주)마노엔터테인먼트', '(주)마일스톤컴퍼니',
       '(주)비프로', '변산문화산업전문(유)', '동우하 팩토리', '(주)파이브데이', '(주)그노스',
       '(주)무다필름', '(주)칵테일 미디어', '(주)루이스 픽쳐스', '(주)아시아홈 엔터테인먼트', '상남영화제작소',
       '주식회사 케이엠스타', '영화사 마그나', '우주레이블', '풋메이드 픽쳐스', '(주)트리플픽쳐스',
       '(주)차룡영화사', '왕십리픽쳐스', '그리고픽처스', '(주)스튜디오앤뉴', '(주)시너지미디어',
       '(주)데이드림엔터테인먼트', '(주)필름295', '영화사 배', '영화사 손가락', '(주)해밀픽쳐스',
       '보아스필름 ', '(주)필름몬스터', '드라마하우스(주)', '(주)레진엔터테인먼트', '(주)발자국 공장',
       '(주)골든스토리픽처스', '플레이리스트(주)', '빅히트 엔터테인먼트', '(주)캠프엔터테인먼트',
       '에이케이엔터테인먼트(주)', '주식회사 플러스미디어엔터테인먼트', '(주)빅오픽쳐스', '(주)날개엔터테인먼트',
       '(주)아이아스플러스', '(주)로커스', '㈜에스비에스', '라인프렌즈(주)', '(주)영화사피어나',
       '전국예술영화관협회', '고브로 필름', '(주)제이와이피엔터테인먼트', '쌍마픽처스', '시소픽쳐스',
       '(주)갤럭시컴퍼니', '닷 팩토리', '더 필름클래식 프로덕션', '김휘근필름', '대흥영화사',
       '유한회사 올빼미하우스', 'CL2D Film', '(주)에이치앤디엔터테인먼트', '지킬필름', '(주)스튜디오후크',
       "창작집단 '너와'", '모두를 위한 극장 공정영화협동조합', '선셋 시네마', '유한회사 영화사 반딧불',
       '독립영화전용관 인디스페이스', '(주)코쿤나인', '(주)흑기사', '우사유필름', '영화사 브리드',
       '영화사 리듬앤블루스', '꾸러기스튜디오', '케프-ㄹ러49', '(주)그래그거', "K'arts",
       '(주)티케이씨픽쳐스', '(주)이에스픽쳐스', '라이터스', '(주)유앤정필름 ', '(주)누미아띠',
       '제이리미디어', '주식회사 콘텐츠플레이', '(주)마로스튜디오', '(주)아슈비아만화영화푸로덕션', '서울액션스쿨',
       '(주)오예스', '1011 필름', '기린그림', '(주)KNN', '(주)캐리소프트', '(주)지금이 아니면 안돼',
       '(주)삼백상회', '(주)엠엔에프씨', '2X9HD', '유관순문화산업전문유한회사', '(주)더 피플',
       '애니맥스 브로드캐스팅 코리아 유한회사', '(주)영화사 빅', '(주)바보들', '오키넷', '주식회사 토닉프로젝트',
       '아이뉴컴퍼니', '(주)제이엠컬쳐스', '(주)제이지픽쳐스', '(주)메이스엔터테인먼트', '(주)메리크리스마스',
       '에피파니(주)', '밀짚모자영화사(주)', '(주)스토리공감 ', '(주)우성엔터테인먼트', '(주)트러스트스튜디오',
       '(주)오돌또기 ', '(주)셀트리온엔터테인먼트', '(주)제이와이피픽쳐스', '이스트드림시노펙스(주)',
       '리 공동체 영화사', '(주)봄바람영화사', '(주)화이브라더스코리아', '(주)영화사 필름몬스터',
       '호두앤유픽쳐스(주)', '(주)키이스트', '(주)맨필름', '(주)에코필름', '필름모멘텀',
       '(주)다나크리에이티브', '(주)에이스메이커무비웍스', '영화사 해그림 주식회사'], dtype=object)

In [93]:
pd.DataFrame(companys['companyNm'].unique())

                 0
0          (주)외유내강
1          (주)필름케이
2        씨제이이앤엠(주)
3        씨제이엔터테인먼트
4    (주)포스크리에이티브파티
..             ...
769        (주)에코필름
770          필름모멘텀
771    (주)다나크리에이티브
772  (주)에이스메이커무비웍스
773   영화사 해그림 주식회사

[774 rows x 1 columns]

In [94]:
boxoffice.head()

,순위,영화명,개봉일,매출액,매출액점유율,누적매출액,관객수,누적관객수,스크린수,상영횟수,대표국적,국적,제작사,배급사,등급,장르,감독,배우
0,55,워킹걸,2015.1.7,"1,183,887,479",0.1%,"1,201,963,479","149,181","151,550",308,"7,076",한국,한국,"(주)홍필름,(주)수필름",메가박스중앙(주)플러스엠,청소년관람불가,"코미디,멜로/로맨스",정범식,"조여정,클라라,김태우,배유람,정범식,정범식,박주희,백경인,조은영,손진우,배성우,유찬..."
1,121,설해,2015.1.8,"20,767,500",0.0%,"29,770,500","2,796","3,933",34,335,한국,한국,(주)맑음영화사,"(주)마인스 엔터테인먼트,주식회사 마운틴픽쳐스",12세이상관람가,"멜로/로맨스,드라마",김정권,"박해진,이영아,송재희,전무송,최원주,이상민,이기열,윤기호,김수환,김정권,김혜진,박재..."
2,26,허삼관,2015.1.14,"7,408,943,569",0.8%,"7,408,943,569","955,679","955,679",621,"27,645",한국,한국,"(주)두타연,(주)판타지오픽쳐스",(주)넥스트엔터테인먼트월드(NEW),12세이상관람가,드라마,하정우,"하정우,하지원,전혜진,장광,주진모,성동일,이경영,김영애,정만식,조진웅,김기천,김성균..."
3,16,오늘의 연애,2015.1.14,"14,924,654,487",1.7%,"14,924,654,487","1,891,993","1,891,993",709,"47,237",한국,한국,(주)팝콘에프앤엠,씨제이이앤엠(주),15세이상관람가,"멜로/로맨스,코미디",박진표,"이승기,문채원,이서진,장진우,이경진,이동진,임하룡,이상협,김광규,김부선,가인,임종윤..."
4,149,꽃보다 처녀귀신,2015.1.15,"7,909,000",0.0%,"7,909,000","1,567","1,567",5,42,한국,한국,고구마콘텐츠허브(주),고구마콘텐츠허브(주),청소년관람불가,기타,최영민,"안재민,이정민,이정민,박승찬,이현복,최경택,손지훈,우경희,유재훈,이돌,하혜정,한상민..."

# boxoffice null 값 채우기

In [95]:
# boxoffice에 null 값이 있기 때문에 채워넣음.
boxoffice.isnull().sum()

순위         0
영화명        0
개봉일        0
매출액        0
매출액점유율     0
누적매출액      0
관객수        0
누적관객수      0
스크린수       0
상영횟수       0
대표국적       0
국적         0
제작사       20
배급사        1
등급         0
장르         0
감독         3
배우        31
dtype: int64

In [96]:
# 컬럼명 지정할려고 했으나 실패 -> 에러: 'set' object is not callable
#boxoffice = boxoffice.rename(columns={'순위' , '영화명', '개봉일', '매출액', '매출액점유율', '누적매출액', '관객수', '누적관객수', '스크린수', '상영횟수', '대표국적', '국적', '제작사', '배급사', '등급', '장르', '감독', '배우'})
#boxoffice['배우'].unique()
#boxoffice['배우']
#boxoffice[boxoffice['배우'].isnull()]
# boxoffice[boxoffice.배우.isnull()]
# -> 데이터 타입을 확인하지 않아서 나타난 실수로 확인.

In [97]:
# 컬럼명이 한국어라서 인식하지 못하는 것 같아 컬럼 명을 영어로 변경함...
boxoffice = pd.read_csv('../movie_data/boxoffice_en.csv')

In [98]:
boxoffice.head()

,rank,movieNm,opening day,sales,sales share,Acc sales,Nu viewers,Acc viewers,Nu of screens,Nu show,representative country,nationality,production company,distributor,watchGradeNm,genre,director,cast,actor
0,55,워킹걸,2015.1.7,"1,183,887,479",0.10%,"1,201,963,479","149,181","151,550",308,"7,076",한국,한국,"(주)홍필름,(주)수필름",메가박스중앙(주)플러스엠,청소년관람불가,"코미디,멜로/로맨스",정범식,"조여정,클라라,김태우,배유람,정범식,정범식,박주희,백경인,조은영,손진우,배성우,유찬...",NaN
1,121,설해,2015.1.8,"20,767,500",0.00%,"29,770,500","2,796","3,933",34,335,한국,한국,(주)맑음영화사,"(주)마인스 엔터테인먼트,주식회사 마운틴픽쳐스",12세이상관람가,"멜로/로맨스,드라마",김정권,"박해진,이영아,송재희,전무송,최원주,이상민,이기열,윤기호,김수환,김정권,김혜진,박재...",NaN
2,26,허삼관,2015.1.14,"7,408,943,569",0.80%,"7,408,943,569","955,679","955,679",621,"27,645",한국,한국,"(주)두타연,(주)판타지오픽쳐스",(주)넥스트엔터테인먼트월드(NEW),12세이상관람가,드라마,하정우,"하정우,하지원,전혜진,장광,주진모,성동일,이경영,김영애,정만식,조진웅,김기천,김성균...",NaN
3,16,오늘의 연애,2015.1.14,"14,924,654,487",1.70%,"14,924,654,487","1,891,993","1,891,993",709,"47,237",한국,한국,(주)팝콘에프앤엠,씨제이이앤엠(주),15세이상관람가,"멜로/로맨스,코미디",박진표,"이승기,문채원,이서진,장진우,이경진,이동진,임하룡,이상협,김광규,김부선,가인,임종윤...",NaN
4,149,꽃보다 처녀귀신,2015.1.15,"7,909,000",0.00%,"7,909,000","1,567","1,567",5,42,한국,한국,고구마콘텐츠허브(주),고구마콘텐츠허브(주),청소년관람불가,기타,최영민,"안재민,이정민,이정민,박승찬,이현복,최경택,손지훈,우경희,유재훈,이돌,하혜정,한상민...",NaN

In [99]:
# actor 컬럼이 생겨서 삭제.
boxoffice.drop(['actor'], axis='columns', inplace=True)

In [100]:
boxoffice[boxoffice['cast'].isnull()]

,rank,movieNm,opening day,sales,sales share,Acc sales,Nu viewers,Acc viewers,Nu of screens,Nu show,representative country,nationality,production company,distributor,watchGradeNm,genre,director,cast
455,93,노트르담 드 파리,2017.11.1,"115,659,500",0.00%,"115,659,500","9,085","9,085",36,843,한국,한국,(주)패뷸러스,(주)패뷸러스,전체관람가,"뮤지컬,공연",정성복,NaN

In [101]:
# 검색해서 넣었으나 actor이 안들어감....왜 안들어가는지 모르겠음. 
boxoffice.loc[boxoffice['rank'] == '317', 'cast'] = '이종인'

In [102]:
boxoffice[boxoffice['rank']==317]

,rank,movieNm,opening day,sales,sales share,Acc sales,Nu viewers,Acc viewers,Nu of screens,Nu show,representative country,nationality,production company,distributor,watchGradeNm,genre,director,cast
34,317,다이빙벨: 진실은 침몰하지 않습니다,2015.4.16,"2,209,000",0.00%,"2,209,000",300,300,4,58,한국,한국,"아시아프레스,(주)씨네포트",(주)시네마달,15세이상관람가,다큐멘터리,"이상호,안해룡",이종인

In [103]:
# 이렇게 하니까 들어감...도대체 왜 들어가는거야...
boxoffice.iloc[34, 17] = '이종인'

In [104]:
boxoffice[boxoffice['rank']==317]

,rank,movieNm,opening day,sales,sales share,Acc sales,Nu viewers,Acc viewers,Nu of screens,Nu show,representative country,nationality,production company,distributor,watchGradeNm,genre,director,cast
34,317,다이빙벨: 진실은 침몰하지 않습니다,2015.4.16,"2,209,000",0.00%,"2,209,000",300,300,4,58,한국,한국,"아시아프레스,(주)씨네포트",(주)시네마달,15세이상관람가,다큐멘터리,"이상호,안해룡",이종인

In [105]:
boxoffice.iloc[34]

rank                                      317
movieNm                   다이빙벨: 진실은 침몰하지 않습니다
opening day                         2015.4.16
sales                               2,209,000
sales share                             0.00%
Acc sales                           2,209,000
Nu viewers                                300
Acc viewers                               300
Nu of screens                               4
Nu show                                    58
representative country                     한국
nationality                                한국
production company             아시아프레스,(주)씨네포트
distributor                           (주)시네마달
watchGradeNm                         15세이상관람가
genre                                   다큐멘터리
director                              이상호,안해룡
cast                                      이종인
Name: 34, dtype: object

# 영화배우 null 채우기

In [106]:
# 영화 배우 이름 찾아서 넣음. 배우 정보가 없는 영화는 '-' 로 표시함. 
boxoffice.iloc[44, 17] = '황윤'
boxoffice.iloc[74, 17] = '김말해, 박은순, 손희경, 김영자'
boxoffice.iloc[82, 17] = '강타, 보아, 동방신기, 소녀시대, 샤이니, 에프엑스, 레드벨벳'
boxoffice.iloc[116, 17] = '-'
boxoffice.iloc[125, 17] = '도꾜 조선 중고급학교 권투부, 김상수'
boxoffice.iloc[150, 17] = '윤기진, 황선, 윤민, 윤겨레'
boxoffice.iloc[161, 17] = '권기선, 이준교'
boxoffice.iloc[168, 17] = '-'
boxoffice.iloc[172, 17] = '문남숙, 정혜옥, 최하나, 김영선, 전숙경, 김은아, 엄상현, 신용우'
boxoffice.iloc[233, 17] = '이종락'
boxoffice.iloc[243, 17] = '엘리자 구티, 아니카 쾀보카'
boxoffice.iloc[257, 17] = '엄상현, 이선호, 미야케켄타, 코지로치에, 아스미카나'
boxoffice.iloc[269, 17] = '김진숙, 박성호, 박희찬, 윤국성, 정태훈, 김지연, 정이균'
boxoffice.iloc[279, 17] = '상현, 정선, 복수, 진태'
boxoffice.iloc[292, 17] = '아케사카 사토미, 아스미 카나, 치바 스스무, 고토 사오리, 하라 사유리, 이토 카나에, 카키하라 테츠야, 카토 에미리'
boxoffice.iloc[302, 17] = '고찬근, 오은규, 황건, 트리오 오원, 채재일'
boxoffice.iloc[306, 17] = '소 알로이시오'
boxoffice.iloc[393, 17] = '-'
boxoffice.iloc[401, 17] = '배미영, 이수미, 김정숙, 이희동, 배정하, 이국민, 배은하'
boxoffice.iloc[412, 17] = '-'
boxoffice.iloc[413, 17] = '이묵, 논, 텐, 이영'
boxoffice.iloc[441, 17] = '파드마 앙뚜, 우르갼 릭젠'
boxoffice.iloc[445, 17] = '안젤로 델 베키오, 히바 티와지, 리챠드 샤레스, 다니엘 라부아, 마틴자루, 알리제 라랑드, 제이'
boxoffice.iloc[486, 17] = '종호, 이자은, 김하림, 백마리, 강주리'
boxoffice.iloc[509, 17] = '배정미, 김선혜, 서지연, 사성웅, 전태열, 안용욱'
boxoffice.iloc[596, 17] = '-'
boxoffice.iloc[640, 17] = '-'
boxoffice.iloc[719, 17] = '김종훈, 최국인, 지나이다 이바노브나, 한 아드레이, 한지마, 문 빅토르, 좌바예프 무싸베코프'
boxoffice.iloc[756, 17] = '-'
boxoffice.iloc[777, 17] = '김내현, 김진규, 이민우, 최민규, 안지, 김영진, 백선혁, 정유겸'

In [107]:
boxoffice[boxoffice['rank']==118]

,rank,movieNm,opening day,sales,sales share,Acc sales,Nu viewers,Acc viewers,Nu of screens,Nu show,representative country,nationality,production company,distributor,watchGradeNm,genre,director,cast
74,118,밀양 아리랑,2015.7.16,"17,404,000",0.00%,"17,824,000","2,870","2,950",14,257,한국,한국,오지필름,(주)시네마달,15세이상관람가,다큐멘터리,박배일,"김말해, 박은순, 손희경, 김영자"
247,118,삼례,2016.6.23,"24,092,600",0.00%,"24,191,600","3,244","3,264",26,362,한국,한국,리람,(주)인디플러그,15세이상관람가,"드라마,판타지",이현정,"이선호,김보라,오동진"
413,118,불온한 당신,2017.7.20,"30,199,500",0.00%,"34,220,700","4,028","4,729",14,436,한국,한국,움,무브먼트,15세이상관람가,다큐멘터리,이영,"이묵, 논, 텐, 이영"
549,118,수성못,2018.4.19,"26,232,400",0.00%,"28,338,900","3,550","3,806",36,523,한국,한국,한국영화아카데미,㈜인디스토리,15세이상관람가,"드라마,코미디",유지영,"이세영,박지수,김현준,남태부,강신일,윤진,김민규,감정원,강민영,김소라,김소희,김수경..."
719,118,굿바이 마이 러브NK: 붉은 청춘,2019.5.2,"15,834,280",0.00%,"16,836,280","2,175","2,320",19,267,한국,한국,822 필름,(주)시네마달,12세이상관람가,다큐멘터리,김소영,"김종훈, 최국인, 지나이다 이바노브나, 한 아드레이, 한지마, 문 빅토르, 좌바예프..."

# 제작사 넣기

In [108]:
boxoffice[boxoffice['production company'].isnull()]

,rank,movieNm,opening day,sales,sales share,Acc sales,Nu viewers,Acc viewers,Nu of screens,Nu show,representative country,nationality,production company,distributor,watchGradeNm,genre,director,cast
617,133,나부야 나부야,2018.9.20,"15,062,400",0.00%,"15,062,400","2,789","2,789",19,433,한국,한국,NaN,㈜인디스토리,전체관람가,다큐멘터리,최정우,"이종수,김순규"
690,127,국경의 왕,2019.2.28,"12,042,500",0.00%,"14,272,900","1,698","2,057",7,204,한국,한국,NaN,"무브먼트,독립영화전용관 인디스페이스",15세이상관람가,드라마,임정환,"김새벽,조현철,정혁기,박진수,이유진,임철,박상용,임정환"

In [109]:
# 제작사 찾아서 넣음. 제작사 정보가 없는 영화는 '-' 로 표시함. 
boxoffice.iloc[252, 12] = '-'
boxoffice.iloc[336, 12] = '-'
boxoffice.iloc[394, 12] = '-'
boxoffice.iloc[406, 12] = '-'
boxoffice.iloc[450, 12] = '-'
boxoffice.iloc[500, 12] = '-'
boxoffice.iloc[575, 12] = '-'
boxoffice.iloc[628, 12] = '-'
boxoffice.iloc[640, 12] = '-'
boxoffice.iloc[645, 12] = 'KARTS 영주프로덕션'
boxoffice.iloc[660, 12] = '-'
boxoffice.iloc[689, 12] = '-'
boxoffice.iloc[691, 12] = '전태일 47주기 대구시민 노동문화제 , 독립영화전용관 오오극장 , 민예총 대구지회'
boxoffice.iloc[706, 12] = '영화사 책방'
boxoffice.iloc[731, 12] = '-'
boxoffice.iloc[740, 12] = '-'
boxoffice.iloc[759, 12] = '-'
boxoffice.iloc[794, 12] = '시소'

# 배급사 넣기

In [111]:
# 배급사 NULL 값 확인.
boxoffice[boxoffice['distributor'].isnull()]

Empty DataFrame
Columns: [rank, movieNm, opening day, sales, sales share, Acc sales, Nu viewers, Acc viewers, Nu of screens, Nu show, representative country, nationality, production company, distributor, watchGradeNm, genre, director, cast]
Index: []

In [112]:
# 배급사 정보를 찾아서 채움. 하지만 배급사 정보가 없어서 '-' 입력.
boxoffice.iloc[638, 13] = '-'

# 감독 넣기

In [113]:
# 감독 정보 없는 것은 '-' 표시.(가수 다큐 영화? 라서 감독 없음.)
boxoffice[boxoffice['director'].isnull()]

Empty DataFrame
Columns: [rank, movieNm, opening day, sales, sales share, Acc sales, Nu viewers, Acc viewers, Nu of screens, Nu show, representative country, nationality, production company, distributor, watchGradeNm, genre, director, cast]
Index: []

In [114]:
# 감독 정보가 없어서 '-' 넣음. 
boxoffice.iloc[499, 16] = '-'
boxoffice.iloc[658, 16] = '-'
boxoffice.iloc[676, 16] = '-'

In [115]:
boxoffice.to_csv('../boxoffice_en.csv', index=False)