In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('float_format', '{:f}'.format)
%matplotlib inline

# 데이터 하나만 가지고 연구

In [16]:
df = pd.read_csv('../01.Data_Collection/Theaters_merged_files/롯데시네마%20월드타워.csv')
df.head()

,상영일자,상영관,1회,2회,3회,4회,5회,6회,7회,8회,9회,10회,11회,12회,13회,14회,15회,16회,17회,좌석수
0,2015-05-09,03관(씨네비즈),"13:00, 노예 12년(디지털), 0원","17:15, 군도: 민란의 시대(디지털), 0원",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,158
1,2015-05-09,04관,"12:45, 오즈의 마법사: 돌아온 도로시(디지털더빙), 0원",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,268
2,2015-05-09,05관(Dolby ATMOS ),"12:30, 비긴 어게인(디지털), 0원","16:30, 쎄시봉(디지털), 0원","20:30, 아메리칸 스나이퍼(디지털), 0원",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,389
3,2015-05-09,06관,"13:15, 모던 타임즈(디지털), 0원","17:15, 토스카(디지털), 0원",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,124
4,2015-05-09,07관,"13:15, 시네마 천국(디지털), 0원","17:30, 엘리노어 릭비: 그 남자(디지털), 0원",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan,NaN,124

In [17]:
len(df)

29427

In [18]:
df['상영관'].unique()

array(['03관(씨네비즈)', '04관', '05관(Dolby ATMOS )', '06관', '07관', '08관',
       '09관(Dolby ATMOS / 씨네패밀리)', '10관(Dolby ATMOS )', '14관',
       '15관(Dolby ATMOS )', '18관', '19관(수퍼4D)', '20관(Dolby ATMOS )',
       '21관(수퍼플렉스G)', '12관', '13관(수퍼S)', '16관', '17관'], dtype=object)

# 한국영화의 상영내역만 남기기

In [19]:
df = df.fillna('00:00, -, 0원')

In [20]:
films = pd.read_csv('../01.Data_Collection/films_updated.csv')
ko_films = list(films['영화명'])

In [21]:
df.iloc[:, 2:-1] = df.iloc[:, 2:-1].astype(str).applymap(lambda x: x if x.split(',')[1].split('(')[0].strip() in ko_films else '-')

In [22]:
showtimes = [''.join(df.iloc[i, 2:-1]) for i in range(len(df))]

In [23]:
df['상영시간'] = showtimes

In [24]:
df.head()

,상영일자,상영관,1회,2회,3회,4회,5회,6회,7회,8회,9회,10회,11회,12회,13회,14회,15회,16회,17회,좌석수,상영시간
0,2015-05-09,03관(씨네비즈),-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,158,-----------------
1,2015-05-09,04관,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,268,-----------------
2,2015-05-09,05관(Dolby ATMOS ),-,"16:30, 쎄시봉(디지털), 0원",-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,389,"-16:30, 쎄시봉(디지털), 0원---------------"
3,2015-05-09,06관,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,124,-----------------
4,2015-05-09,07관,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,124,-----------------

In [25]:
drop_idx = []
for i in range(len(df)):
    if df.loc[i, '상영시간'] == '-' * (len(df.columns)-4):
        drop_idx.append(i)
df = df.drop(df.index[drop_idx], axis=0)

In [26]:
df.head()

,상영일자,상영관,1회,2회,3회,4회,5회,6회,7회,8회,9회,10회,11회,12회,13회,14회,15회,16회,17회,좌석수,상영시간
2,2015-05-09,05관(Dolby ATMOS ),-,"16:30, 쎄시봉(디지털), 0원",-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,389,"-16:30, 쎄시봉(디지털), 0원---------------"
5,2015-05-09,08관,"12:15, 조선명탐정 : 사라진 놉의 딸(디지털), 0원",-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,306,"12:15, 조선명탐정 : 사라진 놉의 딸(디지털), 0원------------..."
7,2015-05-09,10관(Dolby ATMOS ),"11:45, 파울볼(디지털), 0원",-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,218,"11:45, 파울볼(디지털), 0원----------------"
14,2015-05-10,03관(씨네비즈),"13:00, 강남 1970(디지털), 0원","17:15, 살인의뢰(디지털), 0원",-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,158,"13:00, 강남 1970(디지털), 0원17:15, 살인의뢰(디지털), 0..."
16,2015-05-10,05관(Dolby ATMOS ),"12:30, 오늘의 연애(디지털), 0원","16:30, 조선명탐정 : 사라진 놉의 딸(디지털), 0원","20:30, 오늘의 연애(디지털), 0원",-,-,-,-,-,-,-,-,-,-,-,-,-,-,389,"12:30, 오늘의 연애(디지털), 0원16:30, 조선명탐정 : 사라진 놉의..."

개봉 첫 주의 스크린수, 스크린점유율, 좌석점유율 참고

상영시간 등급 (CGV 기준) 
* 모닝 06:00 ~ 10:00 -> 4등
* 브런치 10:01 ~ 13:00 -> 3등
* 데이라이트 13:01 ~ 16:00 -> 2등
* 프라임 16:01 ~ 22:00 -> 1등
* 문라이트 22:01 ~ 24:00 -> 3등
* 나이트 24:01 ~ 05:59 -> 4등