In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../01.Data_Collection/screen_show_seat.csv')

In [4]:
df.shape

(70844, 13)

- 시계열 데이터니까 merge 할때 어느날에 적힌건지 표시되는 것이 분석에 더 용이하지 않을까?
- 대충 보니까 순서대로 들어간건지도 모르겠음. 보통 좌석점유율은 순서대로 나오는데

In [11]:
df['좌석점유율'].dtypes

dtype('O')

### 컬럼 몇개만 더 정리

In [12]:
df.columns

Index(['영화명', '개봉일', '상영점유율', '좌석수', '좌석판매율', '좌석점유율', '좌석수.1', '스크린점유율',
       '스크린점유율.1', '관객수', '누적관객수', '매출액', '누적매출액'],
      dtype='object')

In [18]:
df.columns= ['영화명', '개봉일', '상영점유율', '좌석수', '좌석판매율', '좌석점유율', '좌석수', '스크린점유율',
       'remove', '관객수', '누적관객수', '매출액', '누적매출액']

In [21]:
df = df.drop('remove', 1)

In [34]:
df.head(30)

,영화명,개봉일,상영점유율,좌석수,좌석판매율,좌석점유율,좌석수,스크린점유율,관객수,누적관객수,매출액,누적매출액
0,국제시장,2014-12-17,53.092%,878197,21.5%,34.7%,878197,38.9%,188721,8362611,1398815300,65049374061
1,"님아, 그 강을 건너지 마오",2014-11-27,17.226%,175899,16.9%,6.95%,175899,19.9%,29657,4478450,215772700,34895020079
2,기술자들,2014-12-24,12.176%,131812,18.2%,5.21%,131812,15.5%,24046,2360507,183656500,18261732983
3,워킹걸,2015-01-07,12.291%,128267,11.1%,5.07%,128267,13.7%,14281,18503,110945200,143770200
4,개를 훔치는 완벽한 방법,2014-12-31,2.308%,22259,19.2%,0.88%,22259,4.7%,4262,183398,31209900,1393378865
5,상의원,2014-12-24,1.02%,8606,18.3%,0.34%,8606,2.4%,1574,780293,11700500,6125360064
6,더 테너 리리코 스핀토,2014-12-31,0.37%,3931,25.2%,0.16%,3931,1.1%,991,45909,7458000,355714641
7,뽀로로 극장판 눈요정 마을 대모험,NaN,0.383%,5964,5.1%,0.24%,5964,1.0%,306,250374,1430500,1252084900
8,설해,2015-01-08,0.242%,2690,26.0%,0.11%,2690,0.6%,698,2031,4867000,15046000
9,쿼바디스,2014-12-10,0.23%,2633,7.2%,0.1%,2633,0.6%,190,17285,1391000,131031900
10,목숨,2014-12-04,0.128%,1118,6.1%,0.04%,1118,0.4%,68,36350,503000,279444600
11,고양이 장례식,2015-01-15,0.064%,990,100.0%,0.04%,990,0.2%,990,990,8158000,8158000
12,그 사람 그 사랑 그 세상,2014-11-20,0.115%,1319,5.0%,0.05%,1319,0.2%,66,24511,434000,183279500
13,파티51,2014-12-11,0.038%,277,5.8%,0.01%,277,0.1%,16,1908,119000,14245800
14,카트,2014-11-13,0.051%,550,55.1%,0.02%,550,0.1%,303,813890,2283000,5924312433
15,다이빙벨,2014-10-23,0.026%,162,69.1%,0.01%,162,0.1%,112,49102,944000,340108500
16,민우씨 오는 날,NaN,0.026%,208,10.1%,0.01%,208,0.1%,21,771,105000,3793500
17,"제자, 옥한흠",2014-10-30,0.038%,200,8.5%,0.01%,200,0.1%,17,48745,124000,358026200
18,앙상블,2014-12-18,0.013%,94,3.2%,0%,94,0.0%,3,859,18000,6702500
19,소리굽쇠,2014-10-30,0.013%,102,1.0%,0%,102,0.0%,1,3055,7000,24076800
20,고종황제와 의사 안중근,NaN,0.051%,1200,57.2%,0.05%,1200,0.0%,686,2014,1372000,4045000
21,춘하추동 로맨스,2014-12-04,0.013%,70,2.9%,0%,70,0.0%,2,1180,16000,7971800
22,악사들,2014-12-04,0.013%,108,3.7%,0%,108,0.0%,4,1358,28000,7637200
23,순천,2014-09-04,0.051%,1132,0.4%,0.04%,1132,0.0%,4,3581,8000,22774200
24,강남 1970,2015-01-21,0.013%,238,100.0%,0.01%,238,0.0%,238,238,1904000,1904000
25,자유의 언덕,2014-09-04,0.013%,76,15.8%,0%,76,0.0%,12,38184,96000,309792827
26,국제시장,2014-12-17,46.419%,907915,23.2%,35.5%,907915,35.6%,210222,8173890,1550265000,63650558761
27,"님아, 그 강을 건너지 마오",2014-11-27,19.224%,238474,17.2%,9.33%,238474,18.3%,41099,4448793,298868700,34679247379
28,기술자들,2014-12-24,18.236%,244936,17.8%,9.58%,244936,18.2%,43639,2336461,315867700,18078076483
29,상의원,2014-12-24,4.931%,57124,15.2%,2.23%,57124,10.0%,8689,778719,65089100,6113659564

In [30]:
df['누적매출액'].sort_values(ascending=False)

70527    139648729516
69116    139648179516
67499    139647979516
67552    139647779516
67379    139647579516
66951    139647453016
66433    139647439516
66477    139646304516
66036    139645369516
66072    139644909516
66112    139644504516
66201    139644044516
66238    139642069516
65856    139641369516
65782    139640669516
65383    139640303516
65119    139639783516
64890    139638663516
64397    139638233516
64570    139638033516
64009    139636798516
63937    139635468516
63971    139634618516
63446    139634093516
63642    139633568516
63142    139633257516
63184    139632125516
63226    139632113516
62865    139632073516
62898    139632061866
             ...
55666               0
55667               0
44065               0
44066               0
44067               0
44068               0
44069               0
44070               0
44071               0
44082               0
62087               0
53012               0
10060               0
53087               0
47391               0
53099               0
53098               0
53097               0
47392               0
53096               0
53095               0
47390               0
53088               0
53094               0
53093               0
53092               0
53091               0
53090               0
53089               0
52174               0
Name: 누적매출액, Length: 70844, dtype: int64

In [33]:
df.iloc[66433]

영화명               극한직업
개봉일         2019-01-23
상영점유율           0.042%
좌석수                287
좌석판매율            78.4%
좌석점유율            0.01%
좌석수                287
스크린점유율            0.2%
관객수                225
누적관객수         16264806
매출액            1135000
누적매출액     139647439516
Name: 66433, dtype: object